<div class="mb25 page-header">
  <div class="container">
    <div class="row row-same-height">
      <h1 class="col-sm-12 col-xs-height"><%= t('.title') %></h1>
    </div>

    <% unless current_user.admin? %>
      <div class="row row-same-height">
        <p class="col-sm-12 col-xs-height">
          <%= t('steps.description', current_step: 1) %>
        </p>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <%= form_for @user, url: (current_user.admin? ? admin_user_path : user_path) do |f| %>
    <div class="panel panel-default p15">
      <div class="panel-body">
        <%= f.error_notification %>

        <% unless current_user.admin? %>
          <div class="alert bg-info"><%= t('.announcement') %></div>
        <% end %>

        <%= render(partial: 'instructions', locals: { text: t('.instructions') }) %>

        <fieldset>
          <div class="row">
            <div class="col-md-6">
              <%= f.form_group :name do |f| %>
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control', placeholder: 'Fulano da Silva', autofocus: true %>
                <%= f.error_messages %>
              <% end %>
            </div>

            <div class="col-md-6">
              <%= f.form_group :email do |f| %>
                <%= f.label :email %>
                <%= f.text_field :email, class: 'form-control', placeholder: 'joao@gmail.com' %>
                <%= f.error_messages %>
              <% end %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <%= f.form_group :rg do |f| %>
                <%= f.label :rg %>
                <%= f.text_field :rg, class: 'form-control', placeholder: '1234567' %>
                <%= f.error_messages %>
              <% end %>
            </div>

            <div class="col-md-6">
              <%= f.form_group :cpf do |f| %>
                <%= f.label :cpf %>
                <%= f.text_field :cpf, class: 'js-cpf-field form-control' %>
                <%= f.error_messages %>
              <% end %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <%= f.form_group :pis do |f| %>
                <%= f.label :pis %>
                <%= f.text_field :pis, class: 'js-pis-field form-control' %>
                <%= f.error_messages %>
              <% end %>
            </div>

            <div class="col-md-6">
              <%= f.form_group :birthdate do |f| %>
                <%= f.label :birthdate %>
                <div class="hupi-date-area">
                  <%= f.date_select :birthdate, start_year: 1900, end_year: Time.zone.now.year %>
                </div>
                <%= f.error_messages %>
              <% end %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <%= f.form_group :marital_status do |f| %>
                <%= f.label :marital_status %>
                <%= f.select :marital_status, User.marital_statuses.map { |key, _value| [User.human_enum_name(:marital_status, key), key] }, {}, class: 'form-control' %>
                <%= f.error_messages %>
              <% end %>
            </div>

            <div class="col-md-6">
              <%= f.form_group :family_income do |f| %>
                <%= f.label :family_income %>
                <div class="input-group leading">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :family_income, class: 'form-control', placeholder: '2000' %>
                  <span class="input-group-addon">.00</span>
                </div>
                <%= f.error_messages %>
              <% end %>
            </div>
          </div>

          <%= f.fields_for :address, @user.address do |f| %>
            <%= f.form_group :street do |f| %>
              <%= f.label :street %>
              <%= f.text_field :street, class: 'form-control', placeholder: 'Rua Benjamin Constant' %>
              <%= f.error_messages %>
            <% end %>

            <div class="row">
              <div class="col-md-6">
                <%= f.form_group :number do |f| %>
                  <%= f.label :number %>
                  <%= f.text_field :number, class: 'form-control', placeholder: '3412' %>
                  <%= f.error_messages %>
                <% end %>
              </div>

              <div class="col-md-6">
                <%= f.form_group :zip_code do |f| %>
                  <%= f.label :zip_code %>
                  <%= f.text_field :zip_code, class: 'js-zip-code-field form-control' %>
                  <%= f.error_messages %>
                <% end %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <%= f.form_group :complement do |f| %>
                  <%= f.label :complement %>
                  <%= f.text_field :complement, class: 'form-control', placeholder: 'Apt. 302' %>
                  <%= f.error_messages %>
                <% end %>
              </div>

              <div class="col-md-6">
                <%= f.form_group :neighborhood do |f| %>
                  <%= f.label :neighborhood %>
                  <%= f.text_field :neighborhood, class: 'form-control', placeholder: 'São Luiz' %>
                  <%= f.error_messages %>
                <% end %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <%= f.form_group :city do |f| %>
                  <%= f.label :city %>
                  <%= f.text_field :city, class: 'form-control' %>
                  <%= f.error_messages %>
                <% end %>
              </div>

              <div class="col-md-6">
                <%= f.form_group :state do |f| %>
                  <%= f.label :state %>
                  <%= f.select :state, Constants::STATES.map { |k, v| [v, k] }, {}, { class: 'form-control' } %>
                  <%= f.error_messages %>
                <% end %>
              </div>
            </div>
          <% end %>
        </fieldset>
      </div>
    </div>


    <div class="button-group">
      <% if current_user.admin? %>
        <%= link_to t('.cancel'), admin_user_path(@user), class: 'btn btn-lg btn-default' %>
      <% end %>
      <%= f.submit t('.submit'), class: 'btn btn-lg btn-success' %>
    </div>
  <% end %>
</div>
