<section class="mt20 mb50">
  <h1 class="text-center">
    <%= image_tag "logo_new2.png", height: "95px", class: 'text-center' %>
  </h1>
  <hr>
  <h2 class="hupi-login-header h2 text-center"><%= t('.sign_in') %></h2>

  <div class="container mt50 mb50">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="alert bg-primary"><%= t('.instructions') %></div>

        <div class="js-alert hupi-alert alert alert-danger" style="display:none"><%= t('.alert_html') %></div>

        <%= form_tag user_session_path, class: 'js-login-form form-horizontal' do %>
          <%= hidden_field_tag :state, session[:state] %>

          <div class="sheet form-sheet">
            <div class="sheet-inner">
              <div class="form-group">
                <%= text_field :email, nil, autofocus: true, placeholder: User.human_attribute_name(:email), required: true%>                
              </div>
            </div>
          </div>
          <div class="sheet form-sheet">
            <div class="sheet-inner">
              <div class="form-group">                
                <%= phone_field_tag :phone, nil, autofocus: true, class: 'js-phone-field', placeholder: User.human_attribute_name(:phone), required: true %>                
              </div>
            </div>
          </div>

          <%= submit_tag t('.sign_in'), class: 'btn btn-primary pull-right' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag '//sdk.accountkit.com/pt_BR/sdk.js' %>

<script>
  AccountKit_OnInteractive = function() {
    AccountKit.init({
      appId: '<%= Rails.application.secrets.facebook_app_id %>',
      state: document.getElementsByName('state')[0].value,
      version: '<%= Facebook::AccountKit::Configuration.account_kit_version %>',
      fbAppEventsEnabled: true
    });
  };
</script>
