<div class="page-header">
  <div class="container text-center">    
    <% unless current_user.admin? %>
      <%= render 'layouts/shared/wizard' %>
    <% end %>
  </div>
</div>
<%= form_for @user, url: current_user.admin? ? admin_user_document_path(@user) : contract_path, method: :patch, html: { multipart: true } do |f| %>    
  <div class="container">
    <div class="row row-same-height">
      <h1 class="col-sm-12 col-xs-height"><%= t('.title') %></h1>
    </div>  
    <div class="panel panel-default p15">
      <div class="panel-body">
        <% if flash[:alert] %>
          <div class="alert alert-danger"><%= flash[:alert] %></div>
        <% end %>        

        <%= render(partial: 'instructions', locals: { text: t('.instructions') }) %>
                
        <% if !current_user.contract.id.nil? %>
          <div class="row">
            <div class="col-md-12 text-center">                 
              <div id="contract_document">                                                    
                  <fieldset>            
                    <iframe id="contract" style="border:1px solid #666CCC" title="PDF do contrato de compra" src="<%= current_user.contract.file.url %>" frameborder="1" scrolling="auto" height="1100" width="95%" ></iframe>                  
                    <% link_to "#{@url_document}", class: 'custom-file-upload', target: '_blank' do %>
                      <i class="fa fa-download"></i> Assinar contrato                    
                    <% end %>                      
                    <%= f.label :signature_contract_accepted, class: 'checkbox col-sm-6' do %>                      
                      <%= f.check_box :signature_contract_accepted, required: true, disabled: @user.signature_contract_accepted.to_i > 0 %> Aceito todos os termos descritos no contrato acima.
                    <% end %>                                                               
                  </fieldset>
              </div>            
            </div>          
          </div>
        <% end %>                                    
      </div>
    </div>

    <div class="button-group">
      <% if current_user.admin? %>
        <%= link_to t('.cancel'), admin_user_path(@user), class: 'btn btn-lg btn-default' %>
        <%= f.submit t('.save'), class: 'btn btn-lg btn-success' %>
      <% else %>  
        <%= link_to t('.back'), analyze_path, class: 'btn pull-left btn-lg btn-default' %>
        <% if current_user.contract_signature.id.nil? %>
          <%= f.submit t('.next'), class: 'btn btn-lg btn-success' %>         
        <% else %>
          <%= link_to t('.next'), analyze_bank_path, class: 'btn pull-right btn-lg btn-success' %>
        <% end %>          
      <% end %>            
    </div>
  </div>
<% end %>  