<footer>
  <div class="container">
    <div class="row menu-rights" style="padding: 55px 0;">
      <div class="col-md-12">        
        <%= t('landing_page.home.copyright') %>
        <ul class="social-media pull-right" style="margin-right: 50px;">
          <li>
            <%= link_to donwload_video_document_downloads_path, class: 'video-download', target: '_blank' do %>
              <i class="fa fa-download"></i>
            <% end %>                        
          </li>                                                                             
          <li>
            <a class="whatsapp" href="<%= t('landing_page.home.whatsapp') %>" target="_blank" app-href="<%= t('landing_page.home.app_url_facebook') %>">
              <i class="fa fa-whatsapp"></i>
            </a>
          </li>                                
          <li>
            <a href="<%= t('landing_page.home.facebook') %>" target="_blank" app-href="<%= t('landing_page.home.app_url_whatsapp') %>">
              <i class="fa fa-facebook"></i>
            </a>
          </li>                                      
        </ul>  
      </div>            
    </div>
  </div>
</footer>
