<footer>
  <div class="container">
    <div class="row menu-rights">
      <div class="col-md-12">      
        <p>Copyright © 2017. Todos os direitos reservados</p>
      </div>
    </div>
    </div>
  </div>
</footer>
