<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '<%= Rails.application.secrets.google_analytics_key %>', 'auto');
  ga('send', 'pageview');

  document.addEventListener('DOMContentLoaded', function(event) {
    if (typeof ga === 'function' && typeof event !== 'undefined' && typeof event.data !== 'undefined') {
      ga('set', 'location', event.data.url);
      ga('send', 'pageview');
    }
  });
</script>
