<nav class="navbar navbar-default">
  <div class="pl15 pr15 container">
    <div class="navbar-header">
      <%= link_to t('title'), root_path, class: 'navbar-brand' %>
    </div>

    <p class="mr0 navbar-text right">
      <%= link_to t('navbar.sign_out'), destroy_user_session_path, method: :delete, class: 'navbar-link' %>
    </p>
  </div>
</nav>
