<div class="container-wizard hidden-xs hidden-sm col-xs-height text-center">
  <nav class="wizard">      
			<a class="wizard-item <%= current_page?(edit_bloc_path) || current_page?(edit_pavement_path) || current_page?(edit_apartment_path) ? 'active' : '' %>" data-rel="1">
        Escolha seu <br>Apartamento
      </a>
			<a class="wizard-item <%= current_page?(edit_document_path) ? 'active' : '' %>"  data-rel="2">
        Envio da <br>Documentação
      </a>
			<a class="wizard-item <%= current_page?(analyze_path) ? 'active' : '' %>"  data-rel="3">
        Status de <br>Análise
      </a>
			<a class="wizard-item <%= current_page?(edit_contract_path) ? 'active' : '' %>"  data-rel="4">
        Contrato
      </a>
      <a class="wizard-item <%= current_page?(analyze_contract_path) || current_page?(analyze_bank_path) ? 'active' : '' %>"  data-rel="5">
        Acompanhamento<br>Análise da Caixa
      </a>      
	</nav>  
</div>

<div class="row row-same-height hidden-md hidden-lg">
  <p class="col-sm-12 col-xs-height <%= current_page?(edit_bloc_path) ? '' : 'hidden' %>">      
    Escolha seu Bloco
    <small><%= t('steps.description', current_step: 1) %></small>
  </p>
  <p class="col-sm-12 col-xs-height <%= current_page?(edit_pavement_path) ? '' : 'hidden' %>">      
    Escolha seu Pavimento
    <small><%= t('steps.description', current_step: 1) %></small>
  </p>
  <p class="col-sm-12 col-xs-height <%= current_page?(edit_apartment_path) ? '' : 'hidden' %>">      
    Escolha seu Apartamento
    <small><%= t('steps.description', current_step: 1) %></small>
  </p>  
  <p class="col-sm-12 col-xs-height <%= current_page?(edit_document_path) ? '' : 'hidden' %>">      
    Envio da Documentação
    <small><%= t('steps.description', current_step: 2) %></small>
  </p>
  <p class="col-sm-12 col-xs-height <%= current_page?(analyze_path) ? '' : 'hidden' %>">      
    Status do Análise
    <small><%= t('steps.description', current_step: 3) %></small>
  </p>
  <p class="col-sm-12 col-xs-height <%= current_page?(edit_contract_path) ? '' : 'hidden' %>">      
    Contrato
    <small><%= t('steps.description', current_step: 4) %></small>
  </p>  
  <p class="col-sm-12 col-xs-height <%= current_page?(analyze_bank_path) || current_page?(analyze_contract_path) ? '' : 'hidden' %>">      
    Acompanhamento Análise da Caixa
    <small><%= t('steps.description', current_step: 5) %></small>
  </p>	
</div>