.main-content {
  z-index: 1;
  margin-left: $side-nav-width;
  vertical-align: top;
  word-break: break-word;
  height: 100%;
}

.nav-side-menu {
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  width: $side-nav-width;
  color: $side-nav-text-color;
  background-color: $side-nav-menu-background-color;
  font-size: .8em;

  border-right: 1px solid $side-nav-menu-right-border-color;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
  }

  .navbar-collapse {
    padding:0;
  }

  .navbar-header {
    float: none;
    color: $side-nav-header-color;
    background-color: $side-nav-header-bg-color;

    .profile {
      padding: 6px 14px;
      overflow: hidden;
      zoom: 1;
    }

    .profile .profile-image {
      display: block;
      float: left;
      width: 43px;
      height: 43px;
      margin-right: 10px;
    }

    .profile .profile-body {
      overflow: hidden;
      zoom: 1;
    }

    .profile .profile-body h4 {
      color: $side-nav-header-color;
      margin: 0;
      margin-top: 2px;
      text-transform: none;
    }

    .profile .user-links .btn-link {
      padding-left: 4px;
      padding-right: 4px;

      color: $side-nav-header-bg-link-color;

      &:first-of-type {
        padding-left: 0;
      }

      &:hover,
      &:focus {
        color: $side-nav-header-link-hover-color;
        transition: color 250ms;
        border: none;
      }
    }
  }

  .navbar-brand {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
  }

  .nav > li.active {
    border-left: 3px solid $brand-primary;
    background: transparent;
    font-weight: inherit;

    > a {
      font-weight: bold;
    }
  }

  &.navbar-collapse {
    padding: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .arrow {
    float: right;
    line-height: 1.42857;
  }

  .glyphicon.arrow:before {
    content: '\e079';
  }

  .active > a > .glyphicon.arrow:before {
    content: '\e114';
  }

  .fa.arrow:before {
    content: '\f104';
  }

  .active > a > .fa.arrow:before {
    content: '\f107';
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    transform: rotate(45deg);
  }

  #menu-content > li:nth-last-child(2) {
    margin-bottom: 160px;
  }

  .nav li a {
    color: $side-nav-menu-item-color;

    &:hover {
      transition: all 200ms ease;
      background-color: $side-nav-menu-item-background-color;
      color: $side-nav-menu-item-hover-color;
    }

    i {
      margin-right: 14px;
    }
  }

  @for $i from 1 through 30 {
    .nav-second-level:not(.direct) li:nth-child(#{$i}) a,
    .nav-third-level:not(.direct) li:nth-child(#{$i}) a,
    .nav-fourth-level:not(.direct) li:nth-child(#{$i}) a {
      animation: right-fade 500ms;
      animation-delay: #{$i * (40 - $i)}ms;
    }
  }

  .nav > li {
    a {
      padding: 15px;
    }

    &.active {
      background-color: $side-nav-menu-item-background-color;

      > a i {
        margin-left: -3px;
      }

      > a {
        color: $side-nav-menu-item-active-color;
      }
    }

    > a:focus {
      color: $side-nav-menu-item-color;
    }
  }

  ul[aria-expanded=true].collapsing li {
    opacity: 0;
  }

  .nav-second-level li {
    background-color: $side-nav-menu-item-background-color;
    color: white;

    &.active {
      border: none;
      color: lighten($side-nav-menu-item-color, 20%);
    }

    a {
      padding: 8px 15px 8px 0px;
      margin-left: 60px;
      color: lighten($side-nav-menu-item-color, 20%);
    }
  }

  .nav-third-level li a {
    padding: 8px 15px 8px 0px;
    margin-left: 80px;
  }

  .nav-fourth-level li a {
    padding: 8px 15px 8px 0px;
    margin-left: 100px;
  }
}

.nav-side-menu .nav-side-menu-footer {
  transform: translateZ(0);
  // Thanks, Chrome. http://stackoverflow.com/questions/15152470/chrome-rendering-issue-fixed-position-anchor-with-ul-in-body
  background-color: $side-nav-menu-background-color;
  position: fixed;
  transition: none;
  transition-delay: none;
  padding: 7px 15px 10px;
  left: 0;
  right: 0;
  bottom: 0;
  width: $side-nav-width;
  margin: 0;

  border-right: 1px solid $side-nav-menu-right-border-color;

  > div {
    margin-bottom: 10px;
  }

  .btn {
    color: $side-nav-text-color;
    border-color: $side-nav-text-color;

    &:hover,
    &:focus {
      color: white;
      background-color: $side-nav-text-color;
    }
  }
}

@media (max-width: 768px) {
  .nav-side-menu {
    .navbar-collapse.collapse {
      display: none !important;
    }

    .navbar-collapse.collapse.in {
      display: block !important;
    }
  }
}

@media (max-width: 768px), (max-width: 1024px) and (orientation: landscape) {
  .nav-side-menu {
    position: relative;
    margin-bottom: 0;
    width: 100%;
    height: auto;

    .navbar-header {
      margin-bottom: 0;
      .profile {
          width: 61%;
          float: left;
        }
    }

    #menu-content > li:nth-last-child(2) {
      margin-bottom: 0px;
    }

    .navbar-collapse.collapse {
      height: 0 !important;
      overflow: hidden !important;
      padding: 0 15px 0 15px;

      &.in {
        height: auto !important;
        display: block !important;
        overflow-y: scroll !important;
      }
    }

    .navbar-toggle {
      z-index: 10 !important;
      display: block;
      background-color: transparent;
      border: 1px solid $text-color;
      color: $text-color;
      text-align: center;
      cursor: pointer;
    }

    .navbar-brand {
      width: auto;
      padding-left: 15px;
      text-align: left !important;
    }
  }

  .main-content {
    margin-left: 0;
  }

  .nav-side-menu .nav-side-menu-footer {
    position: relative;
    width: 100%;
  }
}

@media (min-width: 1025px) {
  .nav-side-menu .navbar-collapse.collapse {
    height: 100% !important;
    overflow: hidden !important;
  }
}
