<div class="page-header">
  <div class="container">
    <div class="row row-same-height">
      <h1 class="col-sm-12 col-xs-height"><%= t('.title') %></h1>
    </div>

    <% unless current_user.admin? %>
      <div class="row row-same-height">
        <p class="col-sm-12 col-xs-height">
          <%= t('steps.description', current_step: 3) %>
        </p>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <%= form_for @document, url: current_user.admin? ? admin_user_residence_document_path(@document.user) : residence_document_path, method: :patch, html: { multipart: true } do |f| %>
    <div class="panel panel-default p15">
      <div class="panel-body">
        <% if flash[:alert] %>
          <div class="alert alert-danger"><%= flash[:alert] %></div>
        <% end %>

        <%= render(partial: 'instructions', locals: { text: t('.instructions') }) %>

        <%= image_tag 'residence.jpg', class: 'document-example mb20' %>

        <fieldset>
          <%= f.file_field :file, class: 'form-control', accept: '.pdf,image/*' %>
          <%= f.hidden_field :file_cache %>
        </fieldset>
      </div>
    </div>

    <div class="button-group">
      <% if current_user.admin? %>
        <%= link_to t('.cancel'), admin_user_path(@document.user), class: 'btn btn-lg btn-default' %>
      <% end %>
      <%= f.submit t('.submit'), class: 'btn btn-lg btn-success' %>
    </div>
  <% end %>
</div>
