<div class="mt25 container">
  <div class="panel panel-default pt25">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <%= fa_icon('gears 5x') %>
          <h1 class="mt30 mb30"><%= t('.header') %></h1>
          <p><%= t('.description') %></p>
        </div>
      </div>
    </div>
  </div>
</div>
