<div class="page-header">
  <div class="container text-center">    
    <% unless current_user.admin? %>
      <%= render 'layouts/shared/wizard' %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row row-same-height">
    <h1 class="col-sm-12 col-xs-height"><%= t('.title') %></h1>
  </div>
  <%= form_for @user, url: current_user.admin? ? admin_user_pavement_path(@user) : pavement_path, method: :patch, html: { multipart: true } do |f| %>
    <div class="panel panel-default p15">
      <div class="panel-body">
        <% if flash[:alert] %>
          <div class="alert alert-danger"><%= flash[:alert] %></div>
        <% end %>        

        <%= render(partial: 'instructions', locals: { text: t('.instructions') }) %>

        <fieldset> 
          <div class="row">            
            <% User.pavements.keys.each do |pavement| %>            
              <div class="col-sm-6 text-center">
                <%= f.radio_button :pavement, pavement %>
                <%= f.label "#{:pavement}_#{pavement.parameterize.underscore}", "#{t(".#{pavement}")} Andar" %>
              </div>
              
            <% end %>
          </div>
        </fieldset>

        <%= image_tag 'shop/pavement.jpeg', class: 'pavement-image mb20' %>     
      </div>
    </div>

    <div class="button-group">
      <% if current_user.admin? %>
        <%= link_to t('.cancel'), admin_user_path(@user), class: 'btn btn-lg btn-default' %>
      <% end %>
      <%= link_to t('.back'), edit_bloc_path, class: 'btn pull-left btn-lg btn-default' %>
      <%= f.submit t('.next'), class: 'btn btn-lg btn-success' %>
    </div>
  <% end %>
</div>