footer {
  background-color: white;
  text-align: center;
}
.menu-rights {
  padding: 35px 0;
}
.menu-rights p {
  font: 300 15px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

@media (min-width:480px) {
  .small-divide {
    display: none;
  }
}
.footer-menu {
  display: table;
  margin: 0 auto 19px;
}
.footer-menu li {
  font: 300 15px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: left;
}
@media (max-width:479px) {
  .footer-menu li {
    display: table;
    float: none;
    margin: 0 auto;
  }
}
@media (max-width:479px) {
  .footer-menu li + li {
    margin-top: 5px;
  }
}
.footer-menu li + li:before {
  content: '\2022';
  float: left;
  padding: 0 13px;
  line-height: 15px;
  display: block;
}
@media (max-width:600px) {
  .footer-menu li + li:before {
    padding: 0 5px;
  }
}
@media (max-width:479px) {
  .footer-menu li + li:before {
    display: none;
  }
}
.footer-menu li a {
  padding: 0;
  float: left;
}
.social-links {
  padding: 43px 0 36px;
  border-bottom: 1px solid;
}
.social-links ul {
  display: table;
  margin: 0 auto;
}
.social-links ul li {
  float: left;
}
.social-links ul li + li {
  margin-left: 15px;
}
@media (max-width:499px) {
  .social-links ul li + li {
    margin-left: 10px;
  }
}
.social-links ul li a {
  width: 48px;
  height: 48px;
  font-size: 22px;
  line-height: 52px;
  border-radius: 100%;
  padding: 0;
}
@media (max-width:360px) {
  .social-links ul li a {
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
  }
}
.social-links ul li a i {
  margin-left: 2px;
}
footer.row {
  background: #f8fbfd;
}
footer.row .menu-rights p {
  color: #c3cbd1;
}
.footer-menu li {
  color: #374048;
}
.footer-menu li a {
  color: #374048;
}
.footer-menu li a:hover, .footer-menu li a:focus {
  background: none;
  color: #99ceff;
}
.social-links {
  border-bottom-color: #e9eef2;
}
.social-links ul li a {
  background: #374048;
  color: #fff;
}
.social-links ul li a:hover, .social-links ul li a:focus {
  background: #99ceff;
}
