<div class="page-header">
  <div class="container text-center">    
    <% unless current_user.admin? %>
      <%= render 'layouts/shared/wizard' %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row row-same-height">
    <h1 class="col-sm-12 col-xs-height"><%= t('.title') %></h1>
  </div>
  <%= form_for @user, url: current_user.admin? ? admin_user_bloc_path(@user) : bloc_path, method: :patch, html: { multipart: true } do |f| %>
    <div class="panel panel-default p15">
      <div class="panel-body">
        <% if flash[:alert] %>
          <div class="alert alert-danger"><%= flash[:alert] %></div>
        <% end %>        

        <%= render(partial: 'instructions', locals: { text: t('.instructions') }) %>

        <fieldset>
          <div class="row">            
            <% User.blocs.keys.each do |bloc| %>            
              <div class="col-sm-6 text-center">
                <%= f.radio_button :bloc, bloc %>
                <%= f.label "#{:bloc}_#{bloc.parameterize.underscore}", "Torre #{t('.' + bloc)}" %>
              </div>
            <% end %>
          </div>
        </fieldset>

        <%= image_tag 'shop/bloc.png', class: 'bloc-image mb20' %>     
      </div>
    </div>

    <div class="button-group">
      <% if current_user.admin? %>
        <%= link_to t('.cancel'), admin_user_path(@document.user), class: 'btn btn-lg btn-default' %>
      <% end %>
      <%= f.submit t('.next'), class: 'btn btn-lg btn-success' %>
    </div>
  <% end %>
</div>