<div class="page-header">
  <div class="container text-center">    
    <% unless current_user.admin? %>
      <%= render 'layouts/shared/wizard' %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row row-same-height">    
    <h1 class="col-sm-12 col-xs-height">
      <%= !defined?(second_vision).nil? && second_vision >= 0 ? t(".title#{second_vision}") : t('.title') %>
    </h1>
  </div>
  <%= form_for @user, url: current_user.admin? ? admin_user_analyze_path(@user) : analyze_path, method: :patch, html: { multipart: true } do |f| %>
    <div class="panel panel-default p15">
      <div class="panel-body">
        <% if flash[:alert] %>
          <div class="alert alert-danger"><%= flash[:alert] %></div>
        <% end %>        

        <% contract_refused = current_user.contract_refused.blank? ? nil : current_user.contract_refused.strftime("%d/%m/%Y") %>
        <% contract_approved = current_user.contract_approved.blank? ? nil : current_user.contract_approved.strftime("%d/%m/%Y") %>
        <% analyze_contract = current_user.analyze_contract.blank? ? nil : current_user.analyze_contract.strftime("%d/%m/%Y") %>
        <% contract_documents_disapproved = current_user.contract_documents_disapproved.blank? ? nil : current_user.contract_documents_disapproved.strftime("%d/%m/%Y") %>
        <% contract_documents_approved = current_user.contract_documents_approved.blank? ? nil : current_user.contract_documents_approved.strftime("%d/%m/%Y") %>
        <% elaborate_contract = current_user.elaborate_contract.blank? ? nil : current_user.elaborate_contract.strftime("%d/%m/%Y") %>
        <% signature_bank = current_user.signature_bank.blank? ? nil : current_user.signature_bank.strftime("%d/%m/%Y") %>        

        <fieldset>          
          <ul class="timeline" id="timeline">            
              <li class="li <%= !contract_approved.nil? && contract_refused.nil? ? 'complete' : '' %> <%= !contract_refused.nil? ? 'warning' : '' %>">
                <div class="timestamp">
                  <span class="author">Contrato aprovado</span>
                  <span class="date"><span>
                </div>
                <div class="status more-padding">              
                  <h6> <%= !contract_approved.nil? && contract_refused.nil? ? contract_approved : contract_refused %> &nbsp;</h6>                  
                </div>
              </li>
              <li class="li <%= !analyze_contract.nil? ? 'complete' : '' %>">
                <div class="timestamp">
                  <span class="author">Documentos sob-análise</span>
                  <span class="date"><span>
                </div>
                <div class="status more-padding">              
                  <h6> <%= analyze_contract %> &nbsp;</h6>                  
                </div>
              </li>
              <li class="li <%= !contract_documents_approved.nil? ? 'complete' : '' %> <%= !contract_documents_disapproved.nil? ? 'warning' : '' %>">
                <div class="timestamp">
                  <span class="author">Documentos aprovados</span>
                  <span class="date"><span>
                </div>
                <div class="status more-padding">              
                  <h6> <%= !contract_documents_approved.nil? && contract_documents_disapproved.nil? ? contract_documents_approved : contract_documents_disapproved %> &nbsp;</h6>                        
                </div>
              </li>
              <li class="li <%= !elaborate_contract.nil? ? 'complete' : '' %>">
                <div class="timestamp">
                  <span class="author">Elaboração contrato</span>
                  <span class="date"><span>
                </div>
                <div class="status more-padding">              
                  <h6> <%= elaborate_contract %> &nbsp;</h6>                
                </div>
              </li>
              <li class="li last-child <%= !signature_bank.nil? ? 'complete' : '' %>">
                <div class="timestamp">
                  <span class="author">Data assinatura <br>contrato na Caixa</span>
                  <span class="date"><span>
                </div>
                <div class="status more-padding">              
                  <h6> <%= signature_bank %> &nbsp;</h6>                        
                </div>              
              </li>
            </ul>
        </fieldset>         
      </div>

      <% if current_user.current_step == "finished" %>
        <div class="row">
          <div class="col-md-12 text-center">
            <br>
            <br>
            <h4 class="col-sm-12 col-xs-height ">Responda o questionário abaixo, queremos saber mais da sua experiência de compra</h4>
            <br>
            <%= link_to "Feedback de compra", "http://goo.gl/forms/AKCRUCYde8LmOMKw1", class: 'btn btn-lg btn-default' %>
          </div>      
        </div>
      <% end %>  
    </div>

    <div class="button-group">
      <% if current_user.current_step != "finished" %>
        <% if current_user.admin? %>
          <%= link_to t('.cancel'), admin_user_path(@document.user), class: 'btn btn-lg btn-default' %>
        <% end %>                
        <%= link_to t('.back'), analyze_contract_pt_br_path, class: 'btn pull-left btn-lg btn-default' %>                        
      <% end %>    
    </div>
  <% end %>
</div>