<% current_type = type == 0 ? 'front' : 'back' %>
<% current_button_type = type == 0 ? 'frente' : 'verso' %>
<div class="col-md-6">
    <div class="preview rg-<%= current_type %>-upload-preview">                                                                          
        <% unless f.object.file.blank? %>
        <%= image_tag(f.object.file, class: "img-uploaded img-responsive") %>
        <% else %>  
        <%= image_tag("", class: "img-uploaded img-responsive") %>
        <% end %>  
    </div>
    <% if f.object.file.blank? %>
        <fieldset>
            <label for="user_rg_document_<%= current_type %>_attributes_file" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i> Carregar imagem <%= current_button_type %>
            </label>
            <%= f.file_field :file, required: true, 'data-document' => "rg-#{current_type}" , class: 'form-control file', accept: '.pdf,image/*' %>
            <%= f.hidden_field :file_cache %>
        </fieldset>                      
    <% end %>    
</div>