<div style="width:598px;border:1px solid #e5e5e5;font-family:Arial,Geneva,sans-serif;border-bottom:0;border-top:0;margin:0 auto;background-color:#ffffff; text-align: center;">
  <div style="padding: 10px;">     
     <p>Seu contrato foi recusado pelo banco!</p>          
     <br>
     <%= link_to "Clique aqui para mais informações!", new_user_session_path, target: '_blank' %>
  </div>
</div>
