<div class="modal fade" id="hupi-cities-modal" tabindex="-1" role="dialog" aria-labelledby="hupi-cities-modal-label">
  <div class="modal-dialog modal-lg hupi-cities-modal__dialog" role="document">
    <div class="modal-content hupi-cities-modal__content">
      <div class="modal-header hupi-cities-modal__header">
        <button type="button" class="close hupi-cities-modal__button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title hupi-cities-modal__title" id="hupi-cities-modal-label"><%= t('landing_page.escolha_cidade') %></h4>
      </div>
      <% url = is_br? ? 'javascript:;' : URI::HTTP.build({ :host => "www.hupi.com.br" }).to_s %>
      <% url_py = is_py? ? 'javascript:;' : URI::HTTP.build({ :host => "www.hupi.com.py" }).to_s %>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-2 text-center">
            <%= link_to url, "data-dismiss" => is_py? ? ""  : "modal" do %>            
              <%= image_tag('flags/criciuma.png', :class => "img-city") %>
              <span class="hupi-city-name show">Criciúma</span>
            <% end %>
          </div>

          <div class="col-md-2 text-center  ">
            <%= link_to url, "data-dismiss" => is_py? ? ""  : "modal" do %>            
              <%= image_tag('flags/lages.png', :class => "img-city") %>
              <span class="hupi-city-name show">Lages</span>
            <% end %>
          </div>

          <div class="col-md-2 text-center  ">
            <%= link_to url, "data-dismiss" => is_py? ? ""  : "modal" do %>            
              <%= image_tag('flags/tubarao.png', :class => "img-city") %>
              <span class="hupi-city-name show">Tubarão</span>
            <% end %>
          </div>

          <div class="col-md-2 text-center  ">
            <%= link_to url, "data-dismiss" => is_py? ? ""  : "modal" do %>            
              <%= image_tag('flags/chapeco.png', :class => "img-city") %>
              <span class="hupi-city-name show">Chapecó</span>
            <% end %>
          </div>

          <div class="col-md-2 text-center  ">
            <%= link_to url, "data-dismiss" => is_py? ? ""  : "modal" do %>            
              <%= image_tag('flags/fozdoiguacu.png', :class => "img-city") %>
              <span class="hupi-city-name show">Foz do Iguaçu</span>
            <% end %>
          </div>
          
          <div class="col-md-2 text-center">
            <%= link_to url_py, "data-dismiss" => is_br? ? ""  : "modal" do %>
              <%= image_tag('flags/assuncao.png', :class => "img-city") %>
              <span class="hupi-city-name show">
                Asunción
              </span>
            <% end %>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>
