<% content_for :title, t('.header_title') %>

<section class="body-differential container page-content">   
  <div class="row">    
    <div class="col-md-12">            
      <div class="container text-center">
        <iframe width="90%" height="400" src="https://www.meutour360.com/tour-360/hupi-tour360" allowfullscreen></iframe>
      </div>  
    </div>    
  </div>
  <hr>
  <div class="row">  
    <div class="col-md-8 col-md-offset-2 text-center-xs">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">        
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>          
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          <li data-target="#carousel-example-generic" data-slide-to="4"></li>          
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">            
            <%= image_tag "carrossel/1.PNG" %>
            <div class="carousel-caption">            
              <h3><%= t(".planta") %></h3>            
            </div>
          </div>          
          <div class="item">
            <%= image_tag "carrossel/3.PNG" %>          
            <div class="carousel-caption">            
              <h3><%= t('.elevador') %></h3>            
            </div>
          </div>        

          <div class="item">
            <%= image_tag "carrossel/4.PNG" %>    
            <div class="carousel-caption">            
              <h3><%= t('.lavanderia_central') %></h3>
            </div>
          </div>        
          
          <div class="item">
            <%= image_tag "carrossel/5.PNG" %>      
            <div class="carousel-caption">           
              <h3><%= t('.creche') %></h3>
            </div>
          </div>        
        </div>        
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="fa fa-arrow-left" aria-hidden="true" style="top: 50%;position:absolute;"></span>
          <span class="sr-only"><%= t('.anterior')%></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="fa fa-arrow-right" aria-hidden="true" style="top: 50%;position:absolute;"></span>
          <span class="sr-only"><%= t('.proximo')%></span>
        </a>
      </div>
      <hr>
    </div>  
  </div>      
</section>

<%= render 'layouts/shared/footer' %>
