<% content_for :title, t('.header_title') %>

<section class="body-education-points container page-content">
  <h1 class='h1 text-center content-title'><%= t('.title') %></h1>
  <div class="container">
    <div class="row row-component-tabs">
      <div class="col-sm-8">
        <div class="component-tabs">
          <ul class="component-tabs__options">
            <li class="active" data-tab="map">
              <i class="fa fa-map-o"></i> <span><%= t('.ver_mapa') %></span>
            </li>
            <li data-tab="street-view">
              <i class="fa fa-street-view"></i> <span><%= t('.ver_rua') %></span>
            </li>
          </ul>
          <div class="component-tabs__block">
            <ul class="js-directions-options directions text-center">
              <li title="Carro" class="active" data-direction="DRIVING">
                <i class="fa fa-car"></i>
              </li>
              <li title="Transporte público" data-direction="TRANSIT">
                <i class="fa fa-bus"></i>
              </li>
              <li title="Bicicleta" data-direction="BICYCLING">
                <i class="fa fa-bicycle"></i>
              </li>
              <li title="A pé" data-direction="WALKING">
                <i class="fa fa-user"></i>
              </li>
            </ul>

            <form id="js-form-education-map" class="component-tabs__form">
              <div class="form-group form-inline">
                <i class="fa fa-circle-o" aria-hidden="true"></i>
                <input type="text" title="<%= t('.ponto_partida_compl') %>." placeholder="<%= t('.ponto_partida') %>" id="directions" name="directions" class="form-control">
                <button disabled title="<%= t('.ponto_partida_compl') %>" type="submit" id="js-btn-directions" class="btn btn-warning">
                  <%= t('.tracar_rota') %>
                </button>
              </div>
            </form>
          </div>
          <div class="component-tabs__wrapper">
            <div class="component-tabs__content component-tabs__map js-map">
              <div id="education-map"></div>
              <div id="js-bottom-panel" class="bottom-panel"></div>
            </div>
            <div class="component-tabs__content component-tabs__street__view js-street-view">
              <div id="street-view"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-center-xs">
        <h3><%= t('.atendimento') %></h3>

        <div class="block-border-contact text-center">
          <p><%= t('.atendimento_compl') %></p>
        </div>

        <div class="block-border-contact text-center">
          <p class="title-block"></p>

          <p>
            <span class="text-icon">
              <i class="fa fa-file-text-o"></i>  <%= t('.levar_compl') %>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="education-points__infos">
          <i class="icon-refund icon"></i>

          <p><%= t('.duvida') %></p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="education-points__infos">
          <i class="icon-vr icon"></i>

          <p><%= t('.conheca') %></p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="education-points__infos">
          <i class="icon-financial icon"></i>

          <p><%= t('.simulacao') %></p>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'layouts/shared/footer' %>