<% content_for :title, t('.header_title') %>

<section class="body-differential container page-content">   
  <div class="row">  
    <div class="col-md-12 col-xs-12 col-sm-12">  
      <h1 class='h1 text-center content-title'><%= t('.header_title') %></h1>

      <h4 class='text-center content-title'><%= t('.title') %></h4>      
      <%= image_tag t(".image"), class: 'img-responsive', style: "margin-left: auto;margin-right: auto;display: block;" %>
    </div>    
  </div>      
</section>

<%= render 'layouts/shared/footer' %>
