<% content_for(:body_class, 'home') %>

<% if I18n.locale == :py %>      
  <% #image_tag('background-image.jpeg', class: "image-background") %> 
  <%= video_tag(["https://s3.us-east-2.amazonaws.com/hupi-public/videos/background-home-video-py.mp4"], id: "video-background", class: "video-background", :muted => true, :autoplay => :autoplay, :loop => :loop, :playsinline => '', :poster => "poster_background_video_py") %>
<% else %>  
  <%= video_tag(["https://s3.us-east-2.amazonaws.com/hupi-public/videos/background-home-video.mp4"], id: "video-background", class: "video-background", :muted => true, :autoplay => :autoplay, :loop => :loop, :playsinline => '', :poster => "poster_background_video") %>
<% end %>

<div class="navbar navbar-pupose">  
  <div class="container">    
    <div class="navbar-brand purpose">        
      <h2><%= t('landing_page.purpose.content') %></h2>        
    </div>       
  </div>       
</div>   

<div class="navbar navbar-infos">  
  <div class="container">    
    <div class="navbar-brand infos">        
      <h2><%= t('.preco') %></h2>
      <h2> <%= t('.aptos') %> </h2>
      <h2><%= t('.parcelas') %></h2>
      <h2><%= t('.entrada') %></h2>      
    </div>       
  </div>       
</div>   

<header>
  <div class="alpha-layer">      
    <div class="content container">      
      <div class="address">        
        <p class="text-center">          
          <!--Av. Santos Dumont, 1665 - São Luís, Criciúma - SC, 88803-200<br>-->
          <%= t('.copyright') %>
          <ul class="social-media pull-right" style="margin-right: 50px;">
            <li>
              <%= link_to donwload_video_document_downloads_path, class: 'video-download', target: '_blank' do %>
                <i class="fa fa-download"></i>
              <% end %>                        
            </li>                                                                             
            <li>
              <a class="whatsapp" href="<%= t('.whatsapp') %>" target="_blank" app-href="<%= t('.app_url_facebook') %>">
                <i class="fa fa-whatsapp"></i>
              </a>
            </li>                                
            <li>
              <a href="<%= t('.facebook') %>" target="_blank" app-href="<%= t('.app_url_whatsapp') %>">
                <i class="fa fa-facebook"></i>
              </a>
            </li>                                      
          </ul>                        
        </p>
      </div>
    </div>
  </div>
</header>

<% if is_br? %>
  <%= render 'cities_modal' %>
<% end %>  
