<section class="container page-content">
  <h2 class='h1 text-center'><%= t('.title') %></h2>
  <div class="container">
    <div class='row'>
      <div class='col-xs-12 col-md-10 col-md-offset-1'>
        <div class="well mt40">
          <p>This User Agreement ("Agreement") is a contract between you ("you," "your" or "user") and <%= app_name %>, a Proprietorship ("<%= app_name %>," "we", "us" or "our") and applies to your use of the <%= app_name %> website and all services described herein (collectively, the "<%= app_name %> Services").</p>

          <h3>Part 1: General Use.</h3>

          <p>By signing up to use the <%= app_name %> Account through the <%= app_name %> website located at yoursite.com, the <%= app_name %> API, and/or any associated <%= app_name %>-hosted websites or mobile applications (collectively the "<%= app_name %> Site"), you agree to comply with and be legally bound by this Agreement, as revised from time to time. <strong>If you do not agree to any of the terms set forth in this Agreement, or any subsequent modification to the Agreement, you may not access or use any of the <%= app_name %> Services and must cancel your <%= app_name %> Account, free of charge, in the manner set forth below. You further agree that any disputes between you and <%= app_name %> will be resolved by binding, individual arbitration and you waive your right to participate in a class action lawsuit or class-wide arbitration.</strong></p>

          <p>We may amend or modify this Agreement by posting on the <%= app_name %> Site or emailing to you the revised Agreement, and the revised Agreement shall be effective at such time. We may (a) modify or discontinue any portion of the <%= app_name %> Services, and (b) suspend or terminate your access to the <%= app_name %> Services, at any time, and from time to time, without notice to you in certain, limited circumstances described herein. You agree that we shall not be liable to you or any third party for any modification or termination of the <%= app_name %> Services, or suspension or termination of your access to the <%= app_name %> Services, except to the extent otherwise expressly set forth herein.</p>

          <p>To be eligible to use the <%= app_name %> Services, you must be at least 18 years old (or the applicable age of majority and contractual capacity). By accessing or using the <%= app_name %> Services you represent and warrant that you are 18 or older.</p>

          <h4>1. Basic <%= app_name %> Services.</h4>

          <p>Your <%= app_name %> account ("<%= app_name %> Account") encompasses the following basic <%= app_name %> Services, among others:</p>

          <ul>
            <li>Both historical and real-time proprietary data products for purchase (interchangeably, the "Data Service") that can be used pursuant to the instructions below.</li>
            <li>A notifications service for keeping abreast of cryptocurrency market information (the "Notification Service"); and</li>
            <li>Various other tools for analyzing <%= app_name %>'s proprietary market data (collectively, "Other Tools").</li>
          </ul>

          <p>Each of these <%= app_name %> Services is described in detail below.</p>

          <h4>2. Creating a <%= app_name %> Account.</h4>

          <p><strong>2.1. Registration of <%= app_name %> Account.</strong> In order to use any of the <%= app_name %> Services, you must first register by providing your name, an e-mail address, password, and affirming your acceptance of this Agreement. Upon successful completion of the registration process, <%= app_name %> will establish your <%= app_name %> Account. <%= app_name %> may, in our sole discretion, refuse to allow you to establish a <%= app_name %> Account, or limit the number of <%= app_name %> Accounts that a single user may establish and maintain at any time.</p>

          <h4>3. Refund Policy.</h4>
          <p>Refunds are not available and in certain circumstances we may offer credit for service lost or interrupted</p>

          <h4>4. Notification Service and Other Tools</h4>

          <p><strong>4.1. Informational Purposes Only.</strong> The Notification Service as well as Other Tools offered by <%= app_name %> are information services offered free of charge. We make no guarantee that the data provided by these services are accurate, up-to-date, or correct, and by using these services you agree not to hold <%= app_name %> responsible for any costs or damages incurred. We reserve the right to discontinue any or all of these services at any time, and we reserve the right to restrict access to these services for any reason.</p>

          <h4>5. General Use, Prohibited Use, and Termination.</h4>

          <p><strong>5.1. General Use.</strong></p>

          <blockquote>
            <p><strong>5.1.1 Limited License.</strong> We grant you a limited, nonexclusive, nontransferable license, subject to the terms of this Agreement, to access and use the <%= app_name %> Site, and the content, materials, information and functionality available in connection therewith (collectively, the "Content") solely for informational, transactional, or other approved purposes as permitted by <%= app_name %> from time to time. Any other use of the <%= app_name %> Site or Content is expressly prohibited. All other rights in the <%= app_name %> Site or Content are reserved by us and our licensors. We reserve all rights in the <%= app_name %> Site and Content and you agree that this Agreement does not grant you any rights in or licenses to the <%= app_name %> Site or the Content, except for this express, limited license. You will not otherwise copy, transmit, distribute, sell, resell, license, de-compile, reverse engineer, disassemble, modify, publish, participate in the transfer or sale of, create derivative works from, perform, display, incorporate into another website, or in any other way exploit any of the Content or any other part of the <%= app_name %> Site or any derivative works thereof, in whole or in part for commercial or non-commercial purposes. Without limiting the foregoing, you will not frame or display the <%= app_name %> Site or Content (or any portion thereof) as part of any other web site or any other work of authorship without our prior written permission. If you violate any portion of this Agreement, your permission to access and use the <%= app_name %> Services may be terminated pursuant to this Agreement. In addition, we reserve the right to all remedies available at law and in equity for any such violation. "MyApp.com", "<%= app_name %>", and all logos related to the <%= app_name %> Services or displayed on the <%= app_name %> Site are either trademarks or registered marks of <%= app_name %> or its licensors. You may not copy, imitate or use them without <%= app_name %>'s prior written consent.</p>

            <p><strong>5.1.2. Website Accuracy.</strong> Although we intend to provide accurate and timely information on the <%= app_name %> Site, the <%= app_name %> Site (including, without limitation, the Content) may not always be entirely accurate, complete or current and may also include technical inaccuracies or typographical errors. In an effort to continue to provide you with as complete and accurate information as possible, information may be changed or updated from time to time without notice, including without limitation information regarding our policies, products and services. Accordingly, you should verify all information before relying on it, and all decisions based on information contained on the <%= app_name %> Site are your sole responsibility and we shall have no liability for such decisions.</p>

            <p><strong>5.1.3. Third-Party Materials.</strong> From time to time, the <%= app_name %> Site may contain references or links to third-party materials (including without limitation websites) and third-party applications which are not controlled by us. Such information, links, and third-party applications are provided as a convenience to you. Such links should not be considered endorsements and such reference does not imply our recommendation, approval, affiliation, or sponsorship of that respective property, product, service, or process. You acknowledge and agree that we are not responsible for any aspect of the information, content, or services contained in any third-party materials or on any third party sites accessible or linked to the <%= app_name %> Site, including without limitation content, property, goods or services available on the linked sites or services.</p>

            <p><strong>5.1.4</strong><strong>. Third-Party Applications.</strong>If, to the extent permitted by <%= app_name %> from time to time, you grant express permission to a third party to access or connect to your <%= app_name %> Account, either through the third party's product or service or through the <%= app_name %> Site, you acknowledge that granting permission to a third party to take specific actions on your behalf does not relieve you of any of your responsibilities under this Agreement. You are fully responsible for all acts or omissions of any third party using your <%= app_name %> Account credentials. Further, you acknowledge and agree that you will not hold <%= app_name %> responsible for, and will indemnify <%= app_name %> from, any liability arising out of or related to any act or omission of any third party using your <%= app_name %> Account credentials. You may change or remove permissions granted by you to third parties with respect to your <%= app_name %> Account at any time through the Account Settings (Integrations) page on the <%= app_name %> Site.</p>

            <p><strong>5.1.5. Application Programming Interface.</strong> Any person or entity who uses <%= app_name %>'s Application Programming Interface ("<%= app_name %> API") must comply with the terms of this User Agreement and/or any other conditions as <%= app_name %> may put into place in its sole discretion from time to time. The <%= app_name %> API is owned by <%= app_name %> and is licensed to <%= app_name %> API users on a non-exclusive, non-sublicensable basis. <%= app_name %> reserves the right to restrict or limit use when, in its sole discretion, we identify abusive, burdensome, or prohibited use of the <%= app_name %> API.</p>

          </blockquote>

          <p><strong>5.2. Prohibited Use.</strong> In connection with your use of the <%= app_name %> Services, and your interactions with other users, and third parties you agree and represent you will not engage in any Prohibited Use defined herein. We reserve the right at all times to monitor, review, retain and/or disclose any information as necessary to satisfy any applicable law, regulation, legal process or governmental request. We reserve the right to cancel and/or suspend your <%= app_name %> Account immediately and without notice if we determine, in our sole discretion, that your Account is associated with Prohibited Use.</p>

          <p><strong>5.3. Suspension, Termination, and Cancellation.</strong> <%= app_name %> may: (a) suspend, restrict, or terminate your access to any or all of the <%= app_name %> Services, and/or (b) deactivate or cancel your <%= app_name %> Account if:</p>

          <ul>
            <li>We are so required by a facially valid subpoena, court order, or binding order of a government authority; <em>or</em></li>
            <li>We reasonably suspect you of using your <%= app_name %> Account in connection with Prohibited Use; <em>or</em></li>
            <li>Use of your <%= app_name %> Account is subject to any pending litigation, investigation, or government proceeding and/or we perceive a heightened risk of legal or regulatory non-compliance associated with your Account activity; <em>or</em></li>
            <li>Our service partners are unable to support your use; <em>or</em></li>
            <li>You take any action that <%= app_name %> deems as circumventing <%= app_name %>'s controls, including, but not limited to, opening multiple <%= app_name %> Accounts or abusing promotions which <%= app_name %> may offer from time to time.</li>
          </ul>

          <p>You will not be charged for canceling your <%= app_name %> Account and will only be required to pay for those <%= app_name %> Services used that are subject to charges. If any transaction is in a pending state at the time your <%= app_name %> Account is cancelled or suspended, such transaction may be cancelled and/or refunded as appropriate. You may not cancel your <%= app_name %> Account to evade an investigation or avoid paying any amounts otherwise due to <%= app_name %>. Upon cancellation of your <%= app_name %> Account, you authorize <%= app_name %> to cancel or suspend pending Data Service transactions and hold the funds associated with such transactions until <%= app_name %> is certain that funding reversal windows are complete. In the event that you or <%= app_name %> terminates this Agreement or your access to the <%= app_name %> Services, or deactivates or cancels your <%= app_name %> Account, you will remain liable for all amounts due hereunder. In the event that a technical problem causes system outage or Account errors, <%= app_name %> may temporarily suspend access to your Account until the problem is resolved.</p>

          <h4>6. Our Relationship with You.</h4>

          <p><strong>6.1. Relationship of the Parties.</strong> <%= app_name %> is an independent contractor for all purposes. Nothing in this Agreement shall be deemed or is intended to be deemed, nor shall it cause, you and <%= app_name %> to be treated as partners, joint ventures, or otherwise as joint associates for profit, or either you or <%= app_name %> to be treated as the agent of the other.</p>

          <p><strong>6.2. Service Providers.</strong> From time to time, <%= app_name %> may engage third parties to assist <%= app_name %> in providing certain aspects of the <%= app_name %> Services (each, a "Service Provider"). Service Providers may include, but are not limited to, <%= app_name %>'s technology or engineering service providers.</p>

          <p><strong>6.3. Your Privacy.</strong> Protecting your privacy is very important to <%= app_name %>. Please review our <a href="#">Privacy Policy</a>, which is hereby incorporated by reference into this Agreement, in order to better understand our commitment to maintaining your privacy, as well as our use and disclosure of your information.</p>

          <p><strong>6.4. Password Security and Keeping Your Contact Information Current.</strong> You are responsible for maintaining adequate security and control of any and all IDs, passwords, hints, personal identification numbers (PINs), API keys or any other codes that you use to access the <%= app_name %> Services. Any loss or compromise of the foregoing information and/or your personal information may result in unauthorized access to your <%= app_name %> Account by third-parties and the loss or theft of information from your <%= app_name %> account. You are responsible for keeping your email address and phone number up to date in your Account Profile in order to receive any notices or alerts that we may send you. We assume no responsibility for any loss that you may sustain due to compromise of your sensitive information or failure to follow or act on any notices or alerts that we may send to you. In the event you believe your <%= app_name %> Account information has been compromised, contact <%= app_name %> Support immediately at <a href="#">address@example.com</a>.</p>

          <p><strong>6.5. Consent to Electronic Records. By using the <%= app_name %> Services, you agree that <%= app_name %> may provide you with any notices or other communications about your <%= app_name %> Account and the <%= app_name %> Services electronically: (a) via email (in each case to the address that you provide), SMS message, or telephone call (in each case to the phone number that you provide), or (b) by posting to the <%= app_name %> Site. For notices made by email, the date of receipt will be deemed the date on which such notice is transmitted. If you do not wish to receive notices or other communications electronically, we will be unable to support your <%= app_name %> Account and your <%= app_name %> Account will be cancelled.</strong></p>

          <p><strong>6.6. Notices to <%= app_name %>.</strong> We prefer receiving notices to <%= app_name %> electronically through our support system at <a href="#">address@example.com</a>. Paper notifications can also be sent to <%= app_name %>, 123 Anystreet, Anytown, USA.</p>

          <h4>7. Customer Feedback, Queries, and Complaints</h4>

          <p><strong>7.1. Contact <%= app_name %>.</strong> If you have any feedback, questions, or complaints, contact us via our email at <a href="#">address@example.com</a> or write to us at <%= app_name %> Customer Support, 123 Anystreet, Anytown, USA. When you contact us please provide us with your name, address, and any other information we may need to identify you, your email address associated with your <%= app_name %> Account, and the issue with which you have feedback, questions, or complaints.</p>

          <p><strong>7.2. Arbitration; Waiver of Class Action.</strong> If you have a dispute with <%= app_name %>, we will attempt to resolve any such disputes through our support team. <strong>If we cannot resolve the dispute through our support team, you and we agree that any dispute arising under this Agreement shall be finally settled in arbitration, on an individual basis in accordance with the American Arbitration Association's rules for arbitration of consumer-related disputes and you and <%= app_name %> hereby expressly waive trial by jury</strong>. The arbitration shall take place in San Francisco, California, in the English language and the arbitral decision may be enforced in any court. At your request, hearings may be conducted in person or by telephone and the arbitrator may provide for submitting and determining motions on briefs, without oral hearings. The prevailing party in any action or proceeding to enforce this agreement shall be entitled to costs and attorneys' fees. Additionally, you hereby waive your right to participate in a class action lawsuit or class-wide arbitration.</p>

          <p><strong>7.3. Time Limitation on Claims.</strong> You agree that any claim you may have arising out of or related to your relationship with <%= app_name %> must be filed within one year after such claim arose; otherwise, your claim is permanently barred.</p>

          <h4>8. General Provisions.</h4>

          <p><strong>8.1. Limitations of Liability.</strong> IN NO EVENT SHALL <%= app_name %>, ITS AFFILIATES AND SERVICE PROVIDERS, OR ANY OF THEIR RESPECTIVE OFFICERS, DIRECTORS, AGENTS, JOINT VENTURERS, EMPLOYEES OR REPRESENTATIVES, BE LIABLE FOR LOST PROFITS OR ANY SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR IN CONNECTION WITH THE <%= app_name %> SITE, THE <%= app_name %> SERVICES, OR THIS AGREEMENT (HOWEVER ARISING, INCLUDING NEGLIGENCE). Some states do not allow the exclusion or limitation of incidental or consequential damages so the above limitation or exclusion may not apply to you. THE LIABILITY OF <%= app_name %>, ITS AFFILIATES AND SERVICE PROVIDERS, OR ANY OF THEIR RESPECTIVE OFFICERS, DIRECTORS, AGENTS, JOINT VENTURERS, EMPLOYEES OR REPRESENTATIVES, TO YOU OR ANY THIRD PARTIES IN ANY CIRCUMSTANCE IS LIMITED TO THE LOWER OF (A) THE ACTUAL AMOUNT OF DIRECT DAMAGES; OR (B) FEES PAID TO <%= app_name %> BY YOU IN THE PRECEDING THREE (3) MONTHS.</p>

          <p><strong>8.2. Computer Viruses.</strong> We shall not bear any liability, whatsoever, for any damage or interruptions caused by any computer viruses, spyware, scareware, Trojan horses, worms or other malware that may affect your computer or other equipment, or any phishing, spoofing or other attack. We advise the regular use of a reputable and readily available virus screening and prevention software. You should also be aware that SMS and email services are vulnerable to spoofing and phishing attacks and should use care in reviewing messages purporting to originate from <%= app_name %>. Always log into your <%= app_name %> Account through the <%= app_name %> Site to review any transactions or required actions if you have any uncertainty regarding the authenticity of any communication or notice.</p>

          <p><strong>8.3. Release of <%= app_name %>.</strong> If you have a dispute with one or more users of the <%= app_name %> services, you release <%= app_name %>, its affiliates and service providers, and each of their respective officers, directors, agents, joint venturers, employees and representatives from any and all claims, demands and damages (actual and consequential) of every kind and nature arising out of or in any way connected with such disputes. In addition, in entering into this release you expressly waive any protections (whether statutory or otherwise – e.g., California civil code §1542), that would otherwise limit the coverage of this release to include only those claims which you may know or suspect to exist in your favor at the time of agreeing to this release.</p>

          <p><strong>8.4. No Warranty.</strong> THE <%= app_name %> SERVICES ARE PROVIDED "AS IS" AND "AS AVAILABLE" BASIS WITHOUT ANY REPRESENTATION OR WARRANTY, WHETHER EXPRESS, IMPLIED OR STATUTORY. <%= app_name %> SPECIFICALLY DISCLAIMS ANY IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. <%= app_name %> DOES NOT GUARANTEE CONTINUOUS, UNINTERRUPTED OR SECURE ACCESS TO ANY PART OF <%= app_name %> SERVICES, AND OPERATION OF THE <%= app_name %> SITE MAY BE INTERFERED WITH BY NUMEROUS FACTORS OUTSIDE OF OUR CONTROL. SOME STATES DO NOT ALLOW THE DISCLAIMER OF IMPLIED WARRANTIES, SO THE FOREGOING DISCLAIMERS MAY NOT APPLY TO YOU. THIS PARAGRAPH GIVES YOU SPECIFIC LEGAL RIGHTS AND YOU MAY ALSO HAVE OTHER LEGAL RIGHTS THAT VARY FROM STATE TO STATE.</p>

          <p><strong>8.5. Indemnification.</strong> You agree to indemnify and hold <%= app_name %>, its affiliates and Service Providers, and each of their respective officers, directors, agents, joint venturers, employees and representatives, harmless from any claim or demand (including attorneys' fees and any fines, fees or penalties imposed by any regulatory authority) arising out of or related to (i) your breach of this Agreement, (ii) your use of <%= app_name %> Services, or (iii) your violation of any law, rule or regulation, or the rights of any third party.</p>

          <p><strong>8.6. Entire Agreement.</strong> This Agreement sets forth the entire understanding and agreement between you and <%= app_name %> as to the subject matter hereof, and supersedes any and all prior discussions, agreements and understandings of any kind (including without limitation any prior versions of this Agreement), and every nature between and among you and <%= app_name %>.</p>

          <p><strong>8.7. Assignment.</strong> This Agreement, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by <%= app_name %> without restriction, including without limitation to any of its affiliates or subsidiaries, or to any successor in interest of any business associated with the <%= app_name %> Services. Any attempted transfer or assignment in violation hereof shall be null and void. Subject to the foregoing, this Agreement will bind and inure to the benefit of the parties, their successors and permitted assigns.</p>

          <p><strong>8.8. Severability.</strong> If any provision of this Agreement shall be determined to be invalid or unenforceable under any rule, law or regulation or any governmental agency, local, state, or federal, such provision will be changed and interpreted to accomplish the objectives of the provision to the greatest extent possible under any applicable law and the validity or enforceability of any other provision of this Agreement shall not be affected.</p>

          <p><strong>8.9. Change of Control.</strong> In the event that <%= app_name %> is acquired by or merged with a third party entity, we reserve the right, in any of these circumstances, to transfer or assign the information we have collected from you as part of such merger, acquisition, sale, or other change of control.</p>

          <p><strong>8.10. Survival.</strong> All provisions of this Agreement which by their nature extend beyond the expiration or termination of this Agreement, including, without limitation, sections pertaining to suspension or termination, <%= app_name %> Account cancellation, debts owed to <%= app_name %>, general use of the <%= app_name %> Site, disputes with <%= app_name %>, and general provisions, shall survive the termination or expiration of this Agreement.</p>

          <p><strong>8.11. Governing Law.</strong> You agree that the laws of the YOUR_STATE, without regard to principles of conflict of laws, will govern this Agreement and any claim or dispute that has arisen or may arise between you and <%= app_name %>, except to the extent governed by federal law.</p>

          <p><strong>8.12. Force Majeure.</strong> We shall not be liable for delays, failure in performance or interruption of service which result directly or indirectly from any cause or condition beyond our reasonable control, including but not limited to, any delay or failure due to any act of God, act of civil or military authorities, act of terrorists, civil disturbance, war, strike or other labor dispute, fire, interruption in telecommunications or Internet services or network provider services, failure of equipment and/or software, other catastrophe or any other occurrence which is beyond our reasonable control and shall not affect the validity and enforceability of any remaining provisions.</p>

          <p><strong>8.13. Section Headings.</strong> Section headings in this Agreement are for convenience only, and shall not govern the meaning or interpretation of any provision of this Agreement.</p>

          <p><strong>8.14. English Language Controls.</strong> Notwithstanding any other provision of this Agreement, any translation of this Agreement is provided for your convenience. The meanings of terms, conditions and representations herein are subject to definitions and interpretations in the English language. Any translation provided may not accurately represent the information in the original English.</p>

          <p><strong>8.15. Non-Waiver of Rights.</strong> This agreement shall not be construed to waive rights that cannot be waived under applicable state money transmission laws in the state where you are located.</p>

          <hr>

          <h3>Appendix 1: Prohibited Use</h3>

          <p>You may not use your <%= app_name %> Account to engage in the following categories of activity ("Prohibited Use"). By opening a <%= app_name %> Account, you confirm that you will not use your Account to do any of the following:</p>

          <ol>
            <li>Violate or assist any party in violating any law, statute, ordinance, regulation or any rule of any self-regulatory or similar organization of which you are or are required to be a member (for example, those laws, rules, or regulations governing financial services, controlled substances, or consumer protections);</li>
            <li>Partake in a transaction which involves the proceeds of any unlawful activity;</li>
            <li>Partake in any transaction involving online gambling except where permitted by <%= app_name %>;</li>
            <li>Defraud or attempt to defraud <%= app_name %> or other <%= app_name %> users;</li>
            <li>Infringe upon <%= app_name %>'s or any third party's copyright, patent, trademark, or intellectual property rights;</li>
            <li>Provide false, inaccurate or misleading information;</li>
            <li>Take any action that imposes an unreasonable or disproportionately large load on our infrastructure, or detrimentally interfere with, intercept, or expropriate any system, data, or information;</li>
            <li>Interfere with another individual's or entity's access to or use of any of the <%= app_name %> Services;</li>
            <li>Defame, abuse, harass, stalk, threaten or otherwise violate or infringe the legal rights (such as, but not limited to, rights of privacy, publicity and intellectual property) of others;</li>
            <li>Publish, distribute or disseminate any unlawful material or information;</li>
            <li>Transmit or upload any material to the <%= app_name %> Site that contains viruses, Trojan horses, worms, or any other harmful or deleterious programs;</li>
            <li>Harvest or otherwise collect information from the <%= app_name %> Site about others, including without limitation email addresses, without proper consent;</li>
            <li>Act as a payment intermediary or aggregator or otherwise resell any of the <%= app_name %> Services, unless expressly authorized by <%= app_name %> in writing;</li>
            <li>Transfer any rights granted to you under this Agreement;</li>
            <li>Use the <%= app_name %> Account information of another party to access or use the <%= app_name %> Site, except in the case of specific Merchants and/or applications which are specifically authorized by a user to access such user's <%= app_name %> Account and information;</li>
            <li>Otherwise attempt to gain unauthorized access to the <%= app_name %> Site, other <%= app_name %> Accounts, computer systems or networks connected to the <%= app_name %> Site, through password mining or any other means; or</li>
            <li>Engage in transactions involving items that infringe or violate any copyright, trademark, right of publicity or privacy or any other proprietary right under the law.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'layouts/shared/footer' %>
