<% content_for :title, "Propósito" %>

<section class="body-differential container page-content">
  <div class="row">
    <div class="col-md-12">
      <h1 class='content-title h1 text-center'><%= t('.title') %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <p class="lead text-center"><%= t('.content') %></p>

      <hr />

      <!--<h2 class='content-title h1 text-center'><%= t('.title-two') %></h2>

      <p class="lead text-center"><%= t('.content-two') %></p>-->
    </div>
    <div class="col-md-2"></div>
  </div>
</section>

<%= render 'layouts/shared/footer' %>
