<% content_for :title, t(".title") %>

<section class="body-simulation container page-content">  
  <div class="row">    
    <div class="col-md-12">      
      <h1 class='h1 text-center content-title'><%= t('.content') %></h1>
      <div class="container">
        <%= form_for simulacao_path, name: 'simulacao' do |f| %>
          <div class="panel panel-default p15">
            <div class="panel-body">
              <%= f.error_notification %>              
              
              <fieldset>
                <div class="row">
                  <div class="col-md-offset-3 col-md-6">
                    <%= f.form_group :lace do |f| %>
                      <%= f.label t('.renda') %>
                      <%= text_field 'simulator', 'lace', class: "js-money-#{I18n.locale} form-control", placeholder: t(".placeholder"), autofocus: true, required: true, autocomplete: false  %>
                      <%= f.error_messages %>
                    <% end %>
                  </div>
                </div>  
                <div class="row">
                  <div class="col-md-offset-3 col-md-6">
                    <div class="button-group text-center">                      
                      <%= f.submit t('.simular'), class: 'btn btn-lg btn-success' %>
                    </div>
                  </div>  
                </div>                  
              </fieldset>
              <hr>
              <% unless @simulation.nil? %>
                <% if @simulation[:info].blank? %>
                  <fieldset>
                    <div class="row">                   
                      <div class="col-md-offset-3 col-md-6 text-center">
                        <% resultado_renda = number_to_currency(params[:simulator][:lace], unit: "R$", separator: ",", delimiter: ".") if is_br? %>
                        <% resultado_renda = number_to_currency(params[:simulator][:lace], unit: "₲", separator: ".", delimiter: ".") if is_py? %>
                        <h4><%= t('.resultado_renda')%> <%= resultado_renda %></h4>  
                      </div>  
                    </div>  
                    <div class="row">                   
                      <div class="col-md-<%= is_br? ? '12' : '6 col-md-offset-3' %> text-center">
                        <table>
                          <thead>                            
                            <th class="text-center" width="10%"><%= t('.valor_apartamento') %></th>                          
                            <th class="text-center" width="10%"><%= t('.subsidio') %></th>
                            <% if is_br? %>
                              <th class="text-center" width="10%"><%= t('.fgts') %></th>
                              <th class="text-center" width="10%"><%= t('.financiamento') %></th>
                              <th class="text-center" width="6%"><%= t('.entrada') %></th>
                              <th class="text-center" width="6%"><%= t('.parcela') %></th>
                            <% end %>  
                          </thead>
                          <tbody>  
                            <% if is_br? %>
                              <tr>                              
                                <td><%= number_to_currency(@simulation[:apartamento], unit: "R$", separator: ",", delimiter: ".") %></td>                            
                                <td><%= number_to_currency(@simulation[:subsidio], unit: "R$", separator: ",", delimiter: ".") %></td>  
                                <td><%= number_to_currency(@simulation[:fgts], unit: "R$", separator: ",", delimiter: ".") %></td>
                                <td><%= number_to_currency(@simulation[:financiamento], unit: "R$", separator: ",", delimiter: ".") %></td>
                                <td><%= number_to_currency(@simulation[:entrada], unit: "R$", separator: ",", delimiter: ".") %></td>
                                <td><%= number_to_currency(@simulation[:primeira_parcela], unit: "R$", separator: ",", delimiter: ".") %></td>
                              </tr>    
                            <% else %>
                              <% @simulation[:apartamentos].each do |apartamento| %>
                                <tr>    
                                  <td><%= number_to_currency(apartamento[:valor], unit: "₲", delimiter: ".", precision: 0) %></td>                            
                                  <td><%= number_to_currency(apartamento[:subsidio], unit: "₲", delimiter: ".", precision: 0) %></td>    
                                </tr>      
                              <% end %>                                  
                            <% end %>                              
                          </tbody>
                        </table>  
                      </div>
                    </div>  
                  </fieldset>
                <% else %>  
                  <div class="row">                   
                    <div class="col-md-offset-3 col-md-6 text-center">
                      <h4><%= @simulation[:info] %></h4>  
                    </div>  
                  </div>  
                <% end %>  
              <% end %>
            </div>
          </div>
        <% end %>        
    </div>    
  </div>
</section>

<%= render 'layouts/shared/footer' %>
