<% content_for :title, t('.title') %>

<section class="body-sustainability container">  
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-12">
        <ul class="nav nav-tabs hidden-sm hidden-xs">            
            <!--<li class="active text-center"><a data-toggle="tab" href="#opt1"><% t('.telhado').html_safe %></a></li>-->
            <li class="active text-center"><a data-toggle="tab" href="#opt2"><%= t('.captacao').html_safe %></a></li>
            <li class="text-center"><a data-toggle="tab" href="#opt3"><%= t('.sistemab').html_safe %></a></li>
            <!--<li class="text-center"><a data-toggle="tab" href="#opt4"><% t('.selocasa').html_safe %></a></li>-->
            <li class="text-center"><a data-toggle="tab" href="#opt5"><%= t('.ete').html_safe %></a></li>
            <li class="text-center"><a data-toggle="tab" href="#opt6"><%= t('.compartilhamento').html_safe %></a></li>
        </ul>
        <ul class="nav nav-pills nav-stacked hidden-md hidden-lg">
            <!--<li class="text-center"><a data-toggle="tab" href="#opt1"><% t('.telhado_safe').html_safe %></a></li>-->
            <li class="active text-center"><a data-toggle="tab" href="#opt2"><%= t('.captacao_safe').html_safe %></a></li>
            <li class="text-center"><a data-toggle="tab" href="#opt3"><%= t('.sistemab_safe').html_safe %></a></li>
            <!--<li class="text-center"><a data-toggle="tab" href="#opt4"><% t('.selocasa_safe').html_safe %></a></li>-->
            <li class="text-center"><a data-toggle="tab" href="#opt5"><%= t('.ete_safe').html_safe %></a></li>
            <li class="text-center"><a data-toggle="tab" href="#opt6"><%= t('.compartilhamento_safe').html_safe %></a></li>
        </ul>
        <div class="tab-content">
            <div id="opt1" class="tab-pane fade in">
                <h4 class="text-center"><%= t('.telhado_safe').html_safe %></h4>
                <div class="row">
                    <div class="col-md-8">
                        <div class="row text-center">
                            <div class="col-md-4">
                                <div class="row">
                                  <div class="col-md-12">
                                    <p><%= image_tag "sustainability/telhado 1.png", width: '110px' %></p>
                                  </div>  
                                </div>
                                <div class="row">
                                    <div class="col-md-12">                                      
                                        <p><%= t('.telhado_tab.title1').html_safe %></p>
                                    </div>    
                                </div>    
                            </div>    
                            <div class="col-md-4">  
                                <div class="row">
                                  <div class="col-md-12">
                                    <p><%= image_tag "sustainability/telhado 2.png" %></p>
                                  </div>  
                                </div>
                                <div class="row">
                                    <div class="col-md-12">  
                                        <p><%= t('.telhado_tab.title2').html_safe %></p>
                                    </div>    
                                </div>                                  
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                  <div class="col-md-12">
                                    <p><%= image_tag "sustainability/telhado 3.png", width: '50px' %></p>
                                  </div>  
                                </div>
                                <div class="row">
                                    <div class="col-md-12">  
                                        <p><%= t('.telhado_tab.title3').html_safe %></p>
                                    </div>    
                                </div>                                
                            </div>
                        </div>        
                    </div>
                    <div class="col-md-4">
                        <p><%= t('.telhado_tab.title4').html_safe %></p>
                        <p><%= t('.telhado_tab.title5').html_safe %></p>
                    </div>
                </div>    
                <div class="row">
                    <div class="col-md-12 telhado-valores">                                            
                        <%= image_tag "sustainability/telhado 4.png", style: 'width: 80px; margin-top: -10px;' %>                                            
                        <div>
                            <p><%= t('.telhado_tab.title6').html_safe %></p>
                            <p><%= t('.telhado_tab.title7').html_safe %></p>                        
                        </div>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-md-6 telhado-valores">                               
                        <%= image_tag "sustainability/telhado 6.png", style: 'width: 40px; margin-top: -3px;margin-left:15px;margin-right:8px' %>                                                                                     
                        <p><%= t('.telhado_tab.title9').html_safe %></p>                                                
                    </div>
                    <div class="col-md-6 telhado-valores">                                                                                                
                        <p><%= t('.telhado_tab.title8').html_safe %></p>                        
                        <%= image_tag "sustainability/telhado 5.png", style: 'width: 60px; margin-top: -10px; margin-left:8px' %>                    
                    </div>
                </div>                 
            </div>
            <div id="opt2" class="tab-pane fade in active">
                <h4 class="text-center"><%= t('.captacao_safe').html_safe %></h4>
                <div class="row">
                    <div class="col-md-6 telhado-valores">                               
                        <%= image_tag "sustainability/captacao 1.png", style: 'width: 40px; margin-top: -3px;margin-left:15px;margin-right:8px' %>
                        <p><%= t('.captacao_tab.title1').html_safe %></p>                                                
                    </div>
                    <div class="col-md-6 telhado-valores">                                                                                                
                        <p><%= t('.captacao_tab.title2').html_safe %></p>                        
                    </div>   
                </div>          
                <div class="row">
                    <div class="col-md-12">   
                        <p><%= image_tag "sustainability/captacao 2.png", style: "width:98%; margin-top: 15px;" %></p>
                    </div>
                </div>    
            </div>
            <div id="opt3" class="tab-pane fade">
                <h4 class="text-center"><%= t('.sistemab_safe').html_safe %></h4>
                <div class="row">
                    <div class="col-md-6">                               
                        <div class="telhado-valores">
                            <%= image_tag "sustainability/B 1.png", style: 'width: 160px; margin-top: -3px;margin-right:8px' %>
                            <p><%= t('.sistemab_tab.title1').html_safe %></p>                        
                        </div>    
                        <p><%= t('.sistemab_tab.title2').html_safe %></p>                                            
                    </div>                    
                    <div class="col-md-6">                                                                                                
                        <p><%= image_tag "sustainability/B 2.png", style: 'width: 85%; margin-top: 15px;margin-left:15px;margin-right:8px' %></p>
                    </div>
                </div>                      
            </div>
            <div id="opt4" class="tab-pane fade">
                <h4 class="text-center"><%= t('.selocasa_safe').html_safe %></h4>
                <div class="row">
                    <div class="col-md-6">                               
                        <div class="telhado-valores">
                            <%= image_tag "sustainability/selo 1.png", style: 'width: 100px; margin-top: -3px;margin-right:8px' %>
                            <p><%= t('.selocasa_tab.title1').html_safe %></p>
                        </div>                            
                        <p>&nbsp;</p>
                        <p><%= t('.selocasa_tab.title2').html_safe %></p>
                    </div>                    
                    <div class="col-md-6">                                                                                                
                        <p><% image_tag "sustainability/selo 2.png", style: 'width: 85%; margin-top: 15px;margin-left:15px;margin-right:8px' %></p>
                    </div>
                </div>    
            </div>
            <div id="opt5" class="tab-pane fade">
                <h4 class="text-center"><%= t('.ete_legend_safe').html_safe %></h4>
                <div class="row">
                    <div class="col-md-8">                                                       
                        <%= image_tag "sustainability/ETE 1.png", style: 'width: 100%; margin-top: -3px;margin-right:8px' %>                        
                    </div>                    
                    <div class="col-md-4">                                                                                                
                        <p><%= t('.ete_tab.title1').html_safe %></p>
                    </div>
                </div>  
            </div>
            <div id="opt6" class="tab-pane fade">
                <h4 class="text-center"><%= t('.compartilhamento_safe').html_safe %></h4>
                <div class="row">
                    <div class="col-md-6">                                                       
                        <p><%= t('.compartilhamento_tab.title1').html_safe %></p>                        
                        <div class="row bicicle-item">
                            <div class="col-md-6">
                                <p class="circle">1</p>
                                <div class="moldure text-center">
                                    <%= t('.compartilhamento_tab.title2').html_safe %>
                                </div>
                            </div>
                            <div class="col-md-6 bicicle-item">
                                <p class="circle">2</p>
                                <div class="moldure text-center">
                                    <%= t('.compartilhamento_tab.title3').html_safe %>
                                </div>
                            </div>
                        </div>    
                        <div class="row bicicle-item">
                            <div class="col-md-6">    
                                <p class="circle">3</p>
                                <div class="moldure text-center">
                                    <%= t('.compartilhamento_tab.title4').html_safe %>
                                </div>
                            </div>
                            <div class="col-md-6">    
                                <p class="circle">4</p>
                                <div class="moldure text-center">
                                    <%= t('.compartilhamento_tab.title5').html_safe %>
                                </div>
                            </div>
                        </div>    
                    </div>                    
                    <div class="col-md-6">  
                        <div class="row bicicle-item">
                            <div class="col-md-4 col-md-offset-4">                                    
                                <div class="moldure text-center">
                                    <%= t('.compartilhamento_tab.title6').html_safe %>
                                </div>
                            </div>
                        </div>    
                        <div class="row">
                            <div class="col-md-12">                                                                                              
                                <%= image_tag "sustainability/bicicletas 1.jpg", style: 'width: 100%; margin-top: -3px;margin-right:8px' %>
                            </div>
                        </div>        
                    </div>
                </div>  
            </div>
        </div>        
    </div>
    <div class="col-md-2"></div>
  </div>
</section>

<%= render 'layouts/shared/footer' %>
