<% content_for :title, "Simulação" %>

<section class="body-simulation container page-content">  
  <div class="row">    
    <div class="col-md-12">      
      <h1 class='h1 text-center content-title'><%= t('.content') %></h1>
      <div class="container text-center">
        <iframe width="90%" height="400" src="http://www.meutour360.com/tour-360/hupi-tour360" allowfullscreen></iframe>
      </div>  
    </div>    
  </div>
</section>

<%= render 'layouts/shared/footer' %>
