<section class="devise mt20 mb50">
  <h1 class="hupi-login-header h1 text-center text-uppercase"><%= t('devise.signin') %></h1>

  <div class="container mt50 mb50">
    <div class='row'>
      <div class='col-xs-12 col-md-10 col-md-offset-1'>
        <div class="row">
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <% if alert.present? %>
              <div class="alert alert-danger"><%= alert %></div>
            <% end %>
          </div>
        </div>
        <div class="row">
          <%= form_for resource, url: url_for(controller: 'devise/sessions', action: :create), html: { class: 'form-horizontal col-xs-12 col-md-6 col-md-offset-3' } do |f| %>
            <div class="sheet form-sheet">
              <div class="sheet-inner">
                <%= f.form_group :email do |f| %>
                  <%= f.label :email, class: 'form-label' %>
                  <%= f.email_field :email, autofocus: true, class: '' %>
                  <%= f.error_messages %>
                <% end %>

                <%= f.form_group :password do |f| %>
                  <%= f.label :password, class: 'form-label' %>
                  <%= f.password_field :password %>
                  <%= f.error_messages %>
                <% end %>
              </div>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="form-sheet-footer">
                <%= f.label :remember_me, class: 'checkbox col-sm-6' do %>
                  <%= f.check_box :remember_me %> Lembrar-se
                <% end %>
                <%= f.submit t('devise.signin'), class: 'btn btn-primary pull-right mr20' %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
