<% unless @user.cpf_document.id.nil? %>
<tr>
    <td class="text-left"><%= t('.documents.cpf') %></td>
    <td class="text-right">
    <%= link_to t('.visualize'), document_download_path(@user.cpf_document), class: 'btn btn-xs btn-primary', target: '_blank' %>
    <%= link_to t('.edit'), edit_admin_user_document_path(user_id: @user), class: 'btn btn-xs btn-primary' %>
    </td>
</tr>
<% end %>

<% unless @user.rg_document_front.id.nil? %>
<tr>
    <td class="text-left"><%= t('.documents.rg_front') %></td>
    <td class="text-right">
    <%= link_to t('.visualize'), document_download_path(@user.rg_document_front), class: 'btn btn-xs btn-primary', target: '_blank' %>
    <%= link_to t('.edit'), edit_admin_user_document_path(user_id: @user), class: 'btn btn-xs btn-primary' %>
    </td>
</tr>
<% end %>

<% unless @user.rg_document_back.id.nil? %>
<tr>
    <td class="text-left"><%= t('.documents.rg_back') %></td>
    <td class="text-right">
    <%= link_to t('.visualize'), document_download_path(@user.rg_document_back), class: 'btn btn-xs btn-primary', target: '_blank' %>
    <%= link_to t('.edit'), edit_admin_user_document_path(user_id: @user), class: 'btn btn-xs btn-primary' %>
    </td>
</tr>
<% end %>

<% unless @user.residence_document.id.nil? %>
<tr>
    <td class="text-left"><%= t('.documents.residence') %></td>
    <td class="text-right">
    <%= link_to t('.visualize'), document_download_path(@user.residence_document), class: 'btn btn-xs btn-primary', target: '_blank' %>
    <%= link_to t('.edit'), edit_admin_user_document_path(user_id: @user), class: 'btn btn-xs btn-primary' %>
    </td>
</tr>
<% end %>

<% unless @user.employment_document.id.nil? %>
<tr>
    <td class="text-left"><%= t('.documents.employment') %></td>
    <td class="text-right">
    <%= link_to t('.visualize'), document_download_path(@user.employment_document), class: 'btn btn-xs btn-primary', target: '_blank' %>
    <%= link_to t('.edit'), edit_admin_user_document_path(user_id: @user), class: 'btn btn-xs btn-primary' %>
    </td>
</tr>
<% end %>

<% unless @user.contract_signature.id.nil? %>
<tr>
    <td class="text-left"><%= t('.documents.contract') %></td>
    <td class="text-right">
    <%= link_to t('.visualize'), document_download_path(@user.contract_signature), class: 'btn btn-xs btn-primary', target: '_blank' %>
    </td>
</tr>
<% end %>

<% if @user.rg_document_front.blank? && @user.rg_document_back.blank? && @user.residence_document.blank? && @user.employment_document.blank? && @user.contract.blank? %>
<p class="mt20 mb0"><%= t('.no_documents_message') %></p>
<% end %>