<div class="page-header">
  <div class="container text-center">    
    <% unless current_user.admin? %>
      <%= render 'layouts/shared/wizard' %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row row-same-height">
    <h1 class="col-sm-12 col-xs-height"><%= t('.title') %></h1>
  </div>
  <%= form_for @user, url: current_user.admin? ? admin_user_document_path(@user) : document_path, method: :patch, html: { multipart: true } do |f| %>
    <%= f.hidden_field :disapproved, value: nil %>  
    <div class="panel panel-default p15">
      <div class="panel-body">
        <% if flash[:alert] %>
          <div class="alert alert-danger"><%= flash[:alert] %></div>
        <% end %>        

        <%= render(partial: 'instructions', locals: { text: t('.instructions') }) %>
  
        <div class="row">
          <div class="col-md-6 text-center">
            <h3><%= t('.cpf') %></h3>
            <h6><%= t('.cpf_title') %></h6>
            <div id="cpf_document">               
              <%= f.fields_for :cpf_document do |cpf| %>
                <div class="preview cpf-upload-preview">                                                                          
                  <% unless cpf.object.file.blank? %>
                    <%= image_tag(cpf.object.file, class: "img-uploaded img-responsive") %>
                  <% else %>  
                    <%= image_tag("", class: "img-uploaded img-responsive") %>
                  <% end %>  
                </div>    
                <% if cpf.object.file.blank? %>            
                  <fieldset>
                    <label for="user_cpf_document_attributes_file" class="custom-file-upload">
                      <i class="fa fa-cloud-upload"></i> Carregar imagem
                    </label>
                    <%= cpf.file_field :file, 'data-document' => "cpf", required: true,class: 'form-control file', accept: '.pdf,image/*' %>
                    <%= cpf.hidden_field :file_cache %>                                    
                  </fieldset>     
                <% end %>                                              
              <% end %>
            </div>            
          </div>

          <div class="col-md-6 text-center">
            <h3><%= t('.rg') %></h3>
            <h6><%= t('.rg_title') %></h6>
            <div id="rg_documents">     
              <div class="row">               
                <%= f.fields_for :rg_document_front do |rg| %>
                  <%= render 'application/documents/commons/rg_fields', f: rg, type: 0 %>
                <% end %>                     

                <%= f.fields_for :rg_document_back do |rg| %>
                  <%= render 'application/documents/commons/rg_fields', f: rg, type: 1 %>
                <% end %>                                               
              </div>  
            </div>            
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 text-center">
            <h3><%= t('.employment') %></h3>
            <h6><%= t('.employment_title') %></h6>
            <div id="employment_document">               
              <%= f.fields_for :employment_document do |employment| %>
                <div class="preview employment-upload-preview">                                                                                        
                  <% unless employment.object.file.blank? %>
                    <%= image_tag(employment.object.file, class: "img-uploaded img-responsive") %>
                  <% else %>  
                    <%= image_tag("", class: "img-uploaded img-responsive") %>
                  <% end %>  
                </div>
                <% if employment.object.file.blank? %>
                  <fieldset>
                    <label for="user_employment_document_attributes_file" class="custom-file-upload">
                      <i class="fa fa-cloud-upload"></i> Carregar imagem
                    </label>
                    <%= employment.file_field :file, required: true, 'data-document' => "employment", class: 'form-control file', accept: '.pdf,image/*' %>
                    <%= employment.hidden_field :file_cache %>
                  </fieldset>                  
                <% end%>  
              <% end %>
            </div>            
          </div>
          <div class="col-md-6 text-center">
            <h3><%= t('.residence') %></h3>
            <h6><%= t('.residence_title') %></h6>
            <div id="residence_document">               
              <%= f.fields_for :residence_document do |residence| %>
                <div class="preview residence-upload-preview">                                                                          
                  <% unless residence.object.file.blank? %>
                    <%= image_tag(residence.object.file, class: "img-uploaded img-responsive") %>
                  <% else %>  
                    <%= image_tag("", class: "img-uploaded img-responsive") %>
                  <% end %>  
                </div>
                <% if residence.object.file.blank? %>
                  <fieldset>
                    <label for="user_residence_document_attributes_file" class="custom-file-upload">
                      <i class="fa fa-cloud-upload"></i> Carregar imagem
                    </label>
                    <%= residence.file_field :file, required: true, 'data-document' => "residence", class: 'form-control file', accept: '.pdf,image/*' %>
                    <%= residence.hidden_field :file_cache %>
                  </fieldset>      
                <% end %>                
              <% end %>
            </div>            
          </div>
        </div>
      </div>
    </div>

    <div class="button-group">
      <% if current_user.admin? %>
        <%= link_to t('.cancel'), admin_user_path(@user), class: 'btn btn-lg btn-default' %>
        <%= f.submit t('.save'), class: 'btn btn-lg btn-success' %>
      <% else %>  
        <%= link_to t('.back'), edit_apartment_path, class: 'btn pull-left btn-lg btn-default' %>
        <%= f.submit t('.next'), class: 'btn btn-lg btn-success' %>
      <% end %>            
    </div>
  <% end %>
</div>