@import 'theme';
@import 'theme/footer';

$grey: #777;

$success-color: #00c753;
$warning-color: #e65000;
$danger-color: #b51c1c;

$spacing: 25px;

// Overrides

body {
  display: flex;
  flex-direction: column;
}

.content { flex: 1; }

@media(min-width: 1200px) {
  .container { width: 1065px; }
}

.page-header { margin-bottom: $spacing; }

.panel-title { display: inline-block; }

.navbar-default {
  .navbar-header { display: inline-block; }

  .navbar-brand {
    color: white;

    &:hover,
    &:focus {
      color: white;
    }
  }

  .navbar-text a {
    color: white;

    &:hover,
    &:focus {
      color: white;
      text-decoration: none;
      opacity: 0.5;
    }
  }
}

// Custom

.right { float: right; }

.status-label {
  text-transform: lowercase;

  &.label-success { background-color: $success-color; }
  &.label-warning { background-color: $warning-color; }
  &.label-danger { background-color: $danger-color; }
  &:hover { cursor: auto; }
}

.list-group-item {
  padding: 15px;

  &.bg-info { @extend .bg-info; }
  &.bg-success { @extend .bg-success; }
  &.bg-warning { @extend .bg-warning; }
  &.bg-danger { @extend .bg-danger; }
}

.form-group.error .help-block { color: red; }

.hupi-alert a { color: white; }

.hupi-login-header { margin-top: 80px; }

.hupi-date-area {
  display: flex;
  width: 100%;

  select {
    height: 39px;

    &:first-child {
      margin-right: 2%;
      width: 20%;
    }

    &:nth-child(2) {
      flex-grow: 1;
      margin-right: 2%;
    }

    &:nth-child(3) { width: 25%; }
  }
}

@media(min-width: 750px) {
  .document-example {
    margin-left: 25%;
    width: 50%;
  }

  .bloc-image {
    margin-left: 0%;
    width: 100%;
  }

  .pavement-image {
    margin-left: 5%;
    width: 90%;
  }

  .apartment-image {
    margin-left: 5%;
    width: 90%;
  }
}

@media(max-width: 749px) {
  .document-example {    
    width: 100%;
  }

  .bloc-image {
    width: 100%;
  }

  .pavement-image {
    width: 100%;
  }

  .apartment-image {
    width: 100%;
  }
}

.document-example--employment {
  margin-left: 10%;
  width: 80%
}

.button-group {
  margin-bottom: $spacing;
  text-align: right;
}