@charset 'UTF-8';

@import 'bootstrap';
@import 'theme/footer';

$logo-color: #62DC79;
$blue-google: #4285F4;
$white: #FFF;

// OVERRIDES

.navbar-collapse {
  border: none;
  box-shadow: none;
}

// HOME

.navbar {
  min-height: 55px;
  padding: 20px 0 24px;
  margin: 0;
  border: none;
  box-shadow: none;
  transition: all 300ms linear 0s;

  a {
    color: white;
    font: 500 16px/40px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0 15px;
    text-transform: uppercase;
  }

  .icon-bar {
    background-color: white;
  }

  .navbar-toggle {
    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }

  .nav {
    padding-right: 8px;
    margin-right: 0;

    li {
      &.active {
        & a {
          color: $logo-color;
        }
      }

      a {
        line-height: 40px;
        padding: 0 17px;
        font-size: 12px;
  
        &:hover,
        &.active,
        &:focus {
          background-color: transparent;
          color: $logo-color;
        }
  
        &.login-button {
          background: $logo-color;
          border: none;
          border-radius: 30px;
          padding: 0 35px;
  
          &:hover {
            background: darken($logo-color, 15%);
            color: #fff;
          }
          &:focus {
            color: #fff;
          }
        }
      }
    }
  }

  .navbar-brand h2 {
    color: white;
    font-size: 35px;
    margin-top: 6px;
  }

  .navbar-collapse {
    padding-top: 8px;
  }
}

.hero {
  background: image-url('/assets/building/1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  height: 100vh;
}

.video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

.image-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}


.download-button {
  margin-bottom: 8px;
}

.navbar-pupose {
  
  .navbar-brand {  
    height: 130px;
  }
  .purpose {
    width: 187px;    
    margin-left: -16px !important;
    margin-top: 42px;

    h2 {
      color: $white !important;
      line-height: 14px;
      font-size: 9px !important;
      text-align: justify; 
      font-weight: 100 !important;
    }  
  }
}

.navbar-infos {
  .navbar-brand {  
    height: 90px;
  }

  .infos {       
    position: fixed; 
    top: 74%;    
    
    margin-left: -16px !important;    

    h2 {
      color: $white;
      line-height: 20px;      
      font-size: 16px !important;   
      text-align: justify; 
    }
  }
}


.alpha-layer {
  background: rgba(0, 0, 0, 0.3);
  min-height: 600px;  
}

.content {
  align-items: center;
  display: flex;
  height: 100vh;
  position: relative;
}

.video {
  position: absolute;
  top: 95px;
  right: 15px;
}

.hupi-cities-modal__dialog {
  margin-top: 150px;
}

.hupi-cities-modal__content {
  background-color: black !important;

  .hupi-city-name {
    color: #fff;
    font-size: 12px;
  }

  .img-city {
    width: auto;
    max-height: 65px;
    border-radius: 3px;
    margin-bottom: 6px;
  }

  a:hover {
    text-decoration: none;

    .hupi-city-name {
      color: $logo-color;
    }
  }
}

.hupi-cities-modal__header {
  border-bottom: 1px solid black;
}

.hupi-cities-modal__button {
  color: white !important;
}

.hupi-cities-modal__title {
  color: white !important;
}

// Nossos diferenciais
.body-differential {
  & h2 {
    font-size: 26px;
    margin: 0 0 30px !important;
  }

  & hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  & p {
    font-size: 18px;
    line-height: 28px;
    margin: 0;
  }
}

// Sustentabilidade
.body-sustainability {
  .bicicle-item {
    .circle {
      color: #fff;
      background-color: #62DC79;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      display: flex;      
      -webkit-align-items: center;
      -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;    
      justify-content: center;
      font-weight: bold;
      margin: auto;                
    }
    .moldure {
      color: #fff;
      background-color: #62DC79;    
      padding: 10px;  
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .telhado-valores {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  .nav-tabs {        
    border-bottom: hidden;
    display: block;
    /*width: 873px;*/
    width: 600px;
    margin: 0px auto;

    li {
      margin-left: 20px;   
      a {
        color: #fff !important;
        //border-radius: 5px;
      }   
    }
    & > li {
      align-items: center !important;
      display: flex !important;
      color: #fff;
      background-color: #62DC79;
      min-height: 62px;
      align-items: center !important;
      display: flex !important;
      border-radius: 5px;
      & > a {
        margin-right: 0px;
      }
    }

    & > li.active > a, & > li > a:hover {    
      color: #62DC79 !important;
      background-color: #ddd;
      min-height: 62px;
      align-items: center !important;
      display: flex !important;
      border-radius: 5px;
    }
  } 

  .nav-pills {    
    li {
      margin-bottom: 5px;
      a {
        color: #fff !important;        
      }   
    }
    & > li {      
      color: #fff;
      background-color: #62DC79;            
      border-radius: 5px;
      & > a {
        margin-right: 0px;
      }
    }
    & > li.active > a, & > li > a:hover {    
      color: #62DC79 !important;
      background-color: #ddd;      
      
      
    }
  }  
}

// Pontos de Educação
#street-view,
#education-map {
  width: 100%;
  height: 400px;
}
.body-simulation {
  h1,
  h3 {
    font-weight: 400;
    font-size: 24px;
  }

  h3 {
    font-weight: 400;
    font-size: 20px;
    margin: 0 0 20px 0;
  }
}
.body-education-points {
  h1,
  h3 {
    font-weight: 400;
    font-size: 24px;
  }

  h3 {
    font-weight: 400;
    font-size: 20px;
    margin: 0 0 20px 0;
  }

  .block-border-contact {
    border: 1px solid #979797;
    padding: 30px 15px;
    margin-bottom: 20px;

    p {
      margin-bottom: 0;
      font-size: 16px;

      &.title-block {
        font-weight: bold;
        margin-bottom: 20px;
      }
    }

    .text-icon {
      position: relative;
      display: inline-block;
      padding-left: 26px;
      text-align: left;

      i {
        position: absolute;
        top: 4px;
        left: 0;
      }
    }
  }

  .bottom-panel {
    line-height: 30px;
    
    &>div {
      position: absolute;
      z-index: 100;
      width: 100%;
      background-color: #fff;
    }

    select,
    input {
      font-size: 15px;
    }

    select {
      width: 100%;
    }

    i {
      font-size: 12px;
    }
  }
}

.education-points__infos {
  background: #FBFBFB;
  border: 1px solid #EEEEEE;
  box-shadow: 0 0 4px 0 rgba(221,221,221,0.50);
  padding: 40px 20px;
  min-height: 300px;

  p {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 28px;
  }

  .icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 126px;
    width: 120px;

    &-vr {
      background-image: url('/assets/vr@2x.png');
    }

    &-refund {
      background-image: url('/assets/refund.png');
      width: 130px;
    }

    &-financial {
      background-image: url('/assets/financial.png');
    }
  }
}

.row-component-tabs {
  margin-bottom: 40px;
}

.component-tabs {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__wrapper {
    position: relative;
    height: 400px;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &__map {
    z-index: 2;
  }

  &__options {
    li {
      cursor: pointer;
      display: inline-block;
      width: 50%;
      text-align: center;
      border: 1px solid #979797;
      padding: 12px;
      font-size: 16px;
      color: #333;
      &:last-child {
        margin-left: -4px;
        border-left: none;
      }

      &:hover,
      &.active {
        background-color: #EEEEEE;
      }

      i {
        margin-right: 8px;
      }
    }
  }

  &__block {
    background-color: $blue-google;
    padding: 20px;
  }

  .directions {
    margin-bottom: 15px;

    li {
      display: inline-block;
      height: 40px;
      width: 40px;
      text-align: center;
      background-color: #FFF;
      border-radius: 100%;
      margin-right: 11px;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
      
      &:hover,
      &.active {
        background-color: darken($blue-google, 20%);

        i {
          color: #FFF;
        }
      }
    }

    i {
      position: relative;
      top: 25%;
      font-size: 16px;
    }
  }

  &__form {
    text-align: center;

    i {
      color: #FFF;
      font-size: 12px;
      margin-right: 8px;
    }
  }

  .form-control {
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: none;
    padding: 8px 0;
    font-size: 14px;
    color: #FFF;
    width: 320px;
    margin-right: 16px;

    &::-moz-placeholder {
      color: rgba(255, 255, 255, 0.7);
    }

    &::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  .btn {
    font-size: 14px;
    font-weight: 400px;
    color: #FFF;
    padding: 8px 15px;
    border-radius: 3px;
    background-color: darken($blue-google, 20%);
    border: none;
    height: 40px;

    &:hover,
    &:focus {
      background-color: darken($blue-google, 30%);
    }
  }
}

@media (max-width: 1200px) {
  .navbar {
    &-brand {
      img {
        height: 50px;
      }
    }

    & .nav {
      & li {
        & a {
          font-size: 10px;
          padding: 0 12px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .container {
    width: 100%;
  }

  .text-center-xs {
    text-align: center !important;
  }

  .home .navbar {
    &-toggle {
      margin-right: 20px;
    }
  }

  .navbar {
    &-collapse.collapse {
      display: none !important;
      &.in {
        display: block !important;
      }
    }
    &-toggle {
      display: block !important;
      margin-right: 5px;
    }
    &-header {
      float: none;
    }
    & .nav {
      display: block;
      float: none !important;
      margin: 10px -15px 0;
      padding: 0;
      text-align: center;
      background-color: #f4f4f4;
      & li {
        float: none !important;
        border-bottom: 1px solid #ddd;

        & a {
          padding: 10px 15px !important;
          display: block !important;
          color: #000 !important;
          //font-size: 12px !important;
          font-size: 10px;

          &.login-button {
            background: transparent;
            display: block;
            &:active {
              box-shadow: none;
            }
          }
        }
      }
    }
  }

  .body-differential {
    img {
      max-width: 250px;
    }
  }

  // Pontos de Educação
  .component-tabs {
    .form-control {
      width: 250px;
      display: inline-block !important;
    }
  }
}

@media (max-width: 767px) {
  h1, .h1 {
    font-size: 32px;
  }

  .hupi-cities-modal__dialog {
    margin: 150px auto 0 auto;
    width: 300px;
  }

  .col-image-margin-bottom {
    margin-bottom: 30px;

    &-bench {
      margin-bottom: 0;
    }
  }

  .hupi-city-name {
    margin-bottom: 10px;
  }

  .hupi-cities-modal__content {
    .img-city {
      max-width: 120px;
      max-height: inherit;
    }
  }

  // Nossos diferenciais
  .body-differential {
    & h2 {
      font-size: 24px;
      margin: 0 0 20px !important;
    }

    & hr {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    & p {
      font-size: 15px;
      line-height: 24px;
      margin: 0; 
    }
  }

  .pages .page-content {
    margin-top: 0 !important;
  }  
}

// HOME
.home {
  margin-right: -24px;
  overflow-x: hidden;
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 100;
  }
}

// PAGES
.pages {
  .navbar {
    h2, a {
      color: black;
    }

    .btn-warning {
      color: white;
    }
  }

  .icon-bar {
    background-color: black;
  }

  .content-title {
    margin-bottom: 30px;
  }

  .page-content {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {    

  // Pontos de Educação
  .body-education-points {
    h1 {
      font-size: 18px;
      line-height: 26px;
    }
    h3 {
      font-size: 16px;
    }
    .block-border-contact {
      padding: 20px;

      p {
        font-size: 14px;
      }
    }
  }
  .component-tabs {
    margin-bottom: 30px;

    &__form {
      .form-group {
        position: relative;
        margin-bottom: 0;
      }

      .form-control {
        width: 100%;
        display: inline-block;
        padding-left: 20px;
        margin-bottom: 15px;
      }
  
      i {
        position: absolute;
        top: 10px;
        left: 0;
      }
    }
  }

  .education-points__infos {
    margin-bottom: 30px;
    min-height: inherit;
    padding: 20px;

    .icon {
      height: 96px;
      width: 92px;

      &-refund {
        width: 98px;
      }
    }

    p {
      font-size: 14px;
      line-height: 24px;
      margin-top: 20px;
    }
  }
  .image-background {
    right: -35%;
  }
}

@media (max-width: 768px) {
  .infos {   
    &.purpose {                
      left: 2.5%;      
    }
  }
}

@media (max-width: 480px) {    

  .navbar-infos {    
    .infos {             
      top: 62% !important; 
    }
  }

  .container {
    overflow: auto;    
  }

  .infos {              
    left: 4%;  
    h2 {
      font-size: 18px;
    }

    &.purpose {            
      top: 10%;    
      left: 3.5%;      
    }
  }

  .image-background {
    right: -44%;
  }
}

@media (max-height: 480px) {  
  .navbar-infos {    
    .infos {             
      top: 52% !important; 
    }
  }

  .infos {          
    top: 60%;    
    left: 4%;  
    h2 {
      font-size: 13px;
    }

    &.purpose {
      top: 10%;         
      left: 3.5%;         
      h2 {
        font-size: 13px;
      }
    }

    /*&.py {
      top: 50%;
      h2 {
        line-height: 17px;
      }
    }*/
  }
  .image-background {
    right: -53%;
    top: -34%;
  }
}

.justify {
  text-align: justify;
}