
.social-media {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    top: -45px;
  
    &>li {
      float: left;
      margin-left: 14px;
  
      &>a {
        display: block;
        height: 30px;
        width: 30px;
        font-size: 14px;
        box-sizing: border-box;
        padding-top: 4px;
        background-color: #4267b2;
        color: #fff;
        text-align: center;
  
        &.instagram {
          background-color: #003569;
        }
  
        &.linkedin {
          background-color: #0077B5;
        }

        &.whatsapp {
          background-color: #25d366;
        }

        &.video-download {
          background-color: #62DC79;
        }
  
        &:hover {
          opacity: 0.7;
        }
      }
    }
}

.address {
    position: absolute;
    bottom: 20px;
    width: 100%;
  
    p {
      font-size: 12px;
      font-weight: 300;
      text-shadow: 0px 0px 6px #3a3a3a;
      color: white;
    }
}


@media (max-width: 767px) {

    .pages {
        .navbar .btn-warning {
          color: black;
        }
    
        .social-media {
          margin-top: 20px;
        }
    }
    
    .social-media {
        float: none !important;
        display: block;
        top: inherit;
        text-align: center;
        clear: both;
        overflow: hidden;
    
        &>li {
          display: inline-block;
          float: none !important;
    
          &:first-child {
            margin-left: 0;
          }
        }
    }
      
}
