input[type='file'] {
    display: none
}

.custom-file-upload {
    cursor: pointer;
}

.img-uploaded {
    padding: 15px;
    width: 300px;

}

.preview {    
    align-items: center;
    display: inline-flex;
}

.timeline {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.li {
    transition: all 200ms ease-in;
}
  
.timestamp {
    margin-bottom: 20px;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
}
  
.status {
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    border-top: 2px solid #D6DCE0;
    position: relative;
    transition: all 200ms ease-in;    
}

.status h6 {
    font-weight: 600;
}

.status:before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    top: -15px;
    left: 42%;
    transition: all 200ms ease-in;
}
  
.li.complete .status {
    border-top: 2px solid #66DC71;
}

.li.complete .status:before {
    background-color: #66DC71;
    border: none;
    transition: all 200ms ease-in;
}

.li.warning .status {
    border-top: 2px solid #CC0A0A;
}

.li.warning .status:before {
    background-color: #CC0A0A;
    border: none;
    transition: all 200ms ease-in;
}

.li.complete .status h6 {
    color: #66DC71;
}

.li.last-child {
    margin-top: -25px;
}
  
@media (min-device-width: 320px) and (max-device-width: 700px) {
    .timeline {
        list-style-type: none;
        display: block;
        padding: 0;
    }
  
    .li {
        transition: all 200ms ease-in;
        display: flex;
        width: inherit;
    }
  
    .timestamp {
        width: 300px;
        align-items: center;
        display: inline-flex;
        height: 70px;
        padding: 7px 10px 0px 11px;
    }    
  
    .status:before {
        left: -11%;
        top: 28%;
        transition: all 200ms ease-in;
    }

    .status {
        border-top: none;
        border-left: 2px solid #D6DCE0;
        margin-left: 5px;
        align-items: center;
        display: inline-flex;
    }

    .li.complete .status {
        border-top: none;
        border-left: 2px solid #66DC71;
    }

    .li.warning .status {
        border-top: none;
        border-left: 2px solid #CC0A0A;
    }
    .li.last-child {
        margin-top: 0px;
    }
} 