// sizing variables
$even-arrow 							: 2em;
$top-heavy-top						: 2.5em;
$top-heavy-bottom					: 1em;
$bottom-arrow		  				: 3.5em;
// colors
$gray											: #cccccc;
$orange										: #ffa700;
$pink											: #E64980;
$nav-wizard-bg						: $gray;
// settings
$nav-wizard-round-corners	: true;

.container-wizard {
	display: inline-flex;
	align-items: center;
}

.wizard {
	display: flex;
	justify-content: space-around;
	padding: 0 1em;
    margin: 0;
	list-style: none;
	
	&-item {
		position: relative;        
        align-items: center;
        display: inline-flex;
		height: ($even-arrow * 2);
		padding: 1em;
		margin-right: 30px;
		color: darken($nav-wizard-bg, 75);
		background: $nav-wizard-bg;
		border-color: $nav-wizard-bg;
		transition: all 150ms ease-in;
		
		&.active {
			color: lighten($nav-wizard-bg, 35);
			background: darken($nav-wizard-bg, 15);
			border-color: darken($nav-wizard-bg, 15);
			
			&:hover {
				color: lighten($nav-wizard-bg, 35);
				background: darken($nav-wizard-bg, 20);
				border-color: darken($nav-wizard-bg, 20);
			}
		}
		
		// common between the two
		&:before, &:after {
			content: "";
			position: absolute;
			top: 0;
			width: 0;
			height: 0;
		}
		
		&:before {
			right: -20px;
			border-top: $even-arrow solid transparent;
			border-left: 20px solid transparent;
			border-left-color: inherit;
			border-bottom: $even-arrow solid transparent;
		}
		
		&:after {
			left: -20px;
			border-top: $even-arrow solid transparent;
			border-top-color: inherit;
			border-left: 20px solid transparent;
			border-bottom: $even-arrow solid transparent;
			border-bottom-color: inherit;
		}		
		
		&:hover {
			color: darken($nav-wizard-bg, 50);
			text-decoration: none;
			background: darken($nav-wizard-bg, 5);
			border-color: darken($nav-wizard-bg, 5);
			
			&:before {
				border-left-color: inherit;
			}
			
			&:after {
				border-top-color: inherit;
				border-bottom-color: inherit;
			}
		}
		
		&:active, &:focus {
			color: initial;
			text-decoration: none;
		}
		
		.glyphicon {
			width: 20px;
			text-align: center;
		}
	}
}

// Tab Content Area
.tab-content {
	padding: 1.5em;
}