var elem = $('.queue-info');
<% if @queue_number > 0 %>
  elem.removeClass('hidden');
  elem.html("Você é o numero <%= @queue_number %> na fila de espera por este apartamento.")
<% else %>
  elem.addClass('hidden');
  elem.html("");
<% end %>
  