<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td align="center" valign="top">
      <table border="0" cellpadding="10" cellspacing="0" width="100%">
        <tr>
          <td align="center" valign="top">
            <br/>
            <br/>
            <%= link_to root_path(only_path: false), style: 'font-family:Arial; font-size:60px; color:#444444; text-decoration:none;' do %>
            <span style="font-family:Arial; font-size:60px; color:#444444; text-decoration:none; margin-top: 20px;">HUPI</span>
            <% end %>
            <br/>
            <br/>
            <span style='font-family:Arial; font-weight: bold; font-size:26px; color:#444444; text-decoration:none;' ><%= message.subject %></span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
