<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= title %></h3>
      </div>
      <div class="panel-body">
        <% if users.any? %>
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th><%= User.human_attribute_name(:name) %></th>
                <th><%= User.human_attribute_name(:email) %></th>
                <th><%= User.human_attribute_name(:phone) %></th>
              </tr>
            </thead>

            <tbody>
              <%= render users %>
            </tbody>
          </table>
        <% else %>
          <p class="text-center mt10 mb10"><%= t('.no_results') %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
