<div class="page-header">
  <div class="container">
    <div class="row row-same-height">
      <h1 class="col-sm-12 col-xs-height"><%= t('.title') %></h1>
    </div>
  </div>
</div>

<div class="container">
  <% if flash[:notice].present? %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <% end %>
  
  <%= render partial: 'users', locals: { title: t('.table.incomplete'), users: @incomplete} %>
  <%= render partial: 'users', locals: { title: t('.table.unreviewed'), users: @incomplete_with_document } %>
  <%= render partial: 'users', locals: { title: t('.table.complete'), users: @complete_with_document } %>
  <%= render partial: 'users', locals: { title: t('.table.accepted'), users: @finished_contract } %>
  <%= render partial: 'users', locals: { title: t('.table.refused'), users: @rejeited_contract } %>
</div>
