<div class="page-header">
  <div class="container">
    <div class="row row-same-height">
      <h1 class="col-sm-12 col-xs-height"><%= t('.title') %></h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading pl20 pr20">
      <h3 class="panel-title"><%= t('application.users.edit.title') %></h3>
      <%= link_to t('.edit'), edit_admin_user_path(@user), class: 'right' %>
    </div>

    <div class="panel-body pl20 pr20">
      <%= form_for @user do |f| %>
        <div class="row">
          <div class="col-md-6">
            <%= f.form_group :phone do |f| %>
              <%= f.label :phone %>
              <%= f.text_field :phone, class: 'form-control', readonly: true %>
            <% end %>
          </div>                 
        </div>         
      <% end %>              
    </div>
  </div>

  <% if !@user.bloc.nil? && !@user.pavement.nil? && !@user.apartment.nil? %>
    <div class="panel panel-default">
      <div class="panel-heading pl20 pr20">
        <h3 class="panel-title"><%= t('.choose_apartment') %></h3>
      </div>

      <div class="panel-body pl20 pr20 text-center">
        <table class="table table-hover table-striped">
          <tbody>          
            <div class="row">
              <div class="col-md-4">
                <%= t('.apartments.bloc') %>: <%= t('shop.blocs.edit.' + @user.bloc)  %>
              </div>
              <div class="col-md-4">
                <%= t('.apartments.pavement') %>: <%= t('shop.pavements.edit.' + @user.pavement) %>
              </div>
              <div class="col-md-4">
                <%= t('.apartments.apartment') %>: <%= t('shop.apartments.edit.' + @user.apartment) %>
              </div>
            </div> 
          </tbody>
        </table>
      </div>
    </div>   

    <% unless @user.cpf_document.id.nil? && @user.rg_document_front.id.nil? && @user.rg_document_back.id.nil? && @user.residence_document.id.nil? && @user.employment_document.id.nil? %>
      <% if @user.approved.nil? || !@user.disapproved.nil? %>       
        <div class="panel panel-default">
          <div class="panel-heading pl20 pr20">
            <h3 class="panel-title"><%= t('.documents.title') %></h3>
          </div>    
          <div class="panel-body pl20 pr20 text-center">
            <table class="table table-hover table-striped">
              <tbody>             
                <% if !@user.analyze.nil? %>
                    <div class="row">
                      <div class="col-md-12">
                        <%= render 'admin/documents/list' %>
                      </div>
                    </div>                 
                    <div class="row">
                      <div class="col-md-6">                                                
                        <%= link_to 'Aprovar documentos', approved_admin_user_path(@user), method: :post, class: 'btn btn-lg btn-success' %>                
                      </div>
                      <div class="col-md-6">
                        <%= link_to 'Reprovar documentos', refuse_admin_user_path(@user), method: :delete, class: 'btn btn-lg btn-danger', data: { confirm: t('.confirmation') } %>                
                      </div>
                    </div>
                    <br>
                <% else %>
                  <div>
                    <%= form_for [:admin, @user], method: :patch, html: { multipart: true } do |f| %>              
                      <%= f.hidden_field :analyze, value: Time.now %>                
                      <%= f.submit 'Revisar documentos', class: 'btn btn-lg btn-success' %>
                    <% end %>
                  </div> 
                <% end %>
              </tbody>
            </table>
          </div>      
        </div>
      <% end %>  

      <% if @user.contact.nil? && (!@user.approved.nil? && @user.disapproved.nil?) %>    
        <div class="panel panel-default">
          <div class="panel-heading pl20 pr20">
            <h3 class="panel-title"><%= t('.contracts.title') %></h3>
          </div>    
          <div class="panel-body pl20 pr20 text-center">
            <table class="table table-hover table-striped">
              <tbody>    
                <%= form_for @user, url: admin_user_path(@user), method: :patch, html: { multipart: true } do |f| %>
                  <%= f.hidden_field :current_step, value: :contract %>     
                  <%= f.hidden_field :contact, value: Time.now %>     
                  <%= f.hidden_field :signature, value: nil %>     
                  <%= f.hidden_field :contract_approved, value: nil %>  
                  <%= f.hidden_field :contract_refused, value: nil %>                             
                  <%= f.hidden_field :contract_signature, value: nil %>                                          

                  <% if flash[:alert] %>
                    <div class="alert alert-danger"><%= flash[:alert] %></div>
                  <% end %>                                    
                  <%= f.fields_for :contract do |contract| %>
                    <div class="preview contract-upload-preview hidden">                                                                                            
                      <h3 class="panel-title text-center">Contrato carregado.</h3>
                    </div>                
                    <fieldset>
                      <label for="user_contract_attributes_file" class="custom-file-upload contract-button">
                        <i class="fa fa-cloud-upload"></i> Carregar contrato
                      </label>
                      <%= contract.file_field :file, 'data-type' => 'pdf', 'data-document' => "contract", class: 'form-control file', accept: '.pdf' %>
                      <%= contract.hidden_field :file_cache %>     
                      <%= hidden_field_tag :load_contract, true %>                           
                    </fieldset>                                                   
                  <% end %>                                  

                  <%= f.submit 'Enviar contrato para assinatura', class: 'btn btn-lg btn-success hidden contract-upload' %>              
                <% end %>         
              </tbody>   
            </table>
          </div>    
        </div>   
      <% elsif (!@user.contract_signature.id.nil? || !@user.contract_approved.nil?) && @user.contract_approved.nil? %>  
        <div class="panel panel-default">
          <div class="panel-heading pl20 pr20">
            <h3 class="panel-title">Contrato</h3>
          </div>    
          <div class="panel-body pl20 pr20 text-center">
            <table class="table table-hover table-striped">
              <tbody>                             
                <div class="row">
                  <div class="col-md-6">                    
                    <%= link_to 'Aprovar contrato', approved_contract_admin_user_path(@user), method: :post, class: 'btn btn-lg btn-success' %>                
                  </div>
                  <div class="col-md-6">
                    <%= link_to 'Reprovar contrato', refuse_contract_admin_user_path(@user), method: :delete, class: 'btn btn-lg btn-danger', data: { confirm: t('.confirmation') } %>                
                  </div>              
                </div>
                <% unless @user.contract_signature.nil? %>
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <h3>Contrato assinado</h3>            
                      <div id="contract_document">                             
                          <div class="preview upload-preview">                                                                                                                                                                         
                              <%= image_tag("pdf.png", class: "img-uploaded img-responsive") %>
                          </div>                
                          <fieldset>
                              <%= link_to donwload_contract_document_download_path(@user.contract_signature), class: 'custom-file-upload', target: '_blank' do %>
                                <i class="fa fa-download"></i> Visualizar contrato                    
                              <% end %>  
                          </fieldset>                                                                
                      </div>            
                    </div>          
                  </div>
                <% end %>  
                <br>
              </tbody>  
            </table> 
          </div>  
        </div>  
      <% elsif @user.analyze_contract.nil? && !@user.contract_approved.nil?  %>  
        <div class="panel panel-default">
          <div class="panel-heading pl20 pr20">
            <h3 class="panel-title">Análise de Documentos</h3>
          </div>    
          <div class="panel-body pl20 pr20 text-center">
            <table class="table table-hover table-striped">
              <tbody>                             
                <div class="row">
                  <div class="col-md-12">
                    <%= form_for [:admin, @user], method: :patch, html: { multipart: true } do |f| %>                                    
                      <%= f.hidden_field :current_step, value: :contractAnalyze %>                      
                      <%= f.hidden_field :analyze_contract, value: Time.now %>                         
                      
                      <%= f.submit 'Analisar documentos', class: 'btn btn-lg btn-success' %>                
                    <% end %>
                  </div>                  
                </div>                                
                <br>
              </tbody>  
            </table> 
          </div>  
        </div> 
      <% elsif (@user.contract_documents_approved.nil? || !@user.contract_documents_disapproved.nil?) && !@user.analyze_contract.nil?  %>  
        <div class="panel panel-default">
          <div class="panel-heading pl20 pr20">
            <h3 class="panel-title">Aprovação de Documentos</h3>
          </div>    
          <div class="panel-body pl20 pr20 text-center">
             <table class="table table-hover table-striped">
              <tbody>                             
                <div class="row">
                  <div class="col-md-6">                    
                    <%= link_to 'Aprovar documentos', approved_contract_document_admin_user_path(@user), method: :post, class: 'btn btn-lg btn-success' %>                
                  </div>              
                  <div class="col-md-6">
                    <%= link_to 'Documentos recusados', refuse_contract_document_admin_user_path(@user), method: :delete, class: 'btn btn-lg btn-danger', data: { confirm: t('.confirmation') } %>                
                  </div>                  
                </div>                                
                <br>
              </tbody>  
            </table>  
          </div>  
        </div>  
      <% elsif !@user.analyze_contract.nil? && @user.elaborate_contract.nil? && (!@user.contract_approved.nil? || !@user.contract_refused.nil?) %>  
        <div class="panel panel-default">
          <div class="panel-heading pl20 pr20">
            <h3 class="panel-title">Elaboração de contrato do banco</h3>
          </div>    
          <div class="panel-body pl20 pr20 text-center">
            <table class="table table-hover table-striped">
              <tbody>                             
                <div class="row">
                  <div class="col-md-12">
                    <%= form_for [:admin, @user], method: :patch, html: { multipart: true } do |f| %>                                                          
                      <%= f.hidden_field :elaborate_contract, value: Time.now %>
                      <%= f.hidden_field :disapproved_bank, value: nil %>
                      <%= f.hidden_field :approved_bank, value: nil %>
                      
                      <%= f.submit 'Contrato do banco elaborado', class: 'btn btn-lg btn-success' %>                
                    <% end %>
                  </div>                  
                </div>                                
                <br>
              </tbody>  
            </table> 
          </div>  
        </div>                        
      <% elsif @user.signature_bank.nil? && !@user.elaborate_contract.nil? %> 
        <div class="panel panel-default">
          <div class="panel-heading pl20 pr20">
            <h3 class="panel-title">Assinatura do contrato no banco</h3>
          </div>    
          <div class="panel-body pl20 pr20">
            <table class="table table-hover table-striped">
              <tbody>                             
                <div class="row">
                  <div class="col-md-offset-3 col-md-6">
                    <%= form_for [:admin, @user], url: signature_bank_admin_user_path, method: :post, html: { multipart: true } do |f| %>                                    
                      <%= f.hidden_field :current_step, value: :finished %>                      
                      <%= f.form_group :signature_bank do |f| %>
                        <%= f.label :signature_bank %>
                        <%= f.date_select :signature_bank, start_year: Time.zone.now.year, end_year: 2030 %>                        
                      <% end %>
                      <%= f.submit 'Enviar para assinatura', class: 'btn btn-lg btn-success' %>                
                    <% end %>
                  </div>                  
                </div>
                <br>
              </tbody>  
            </table> 
          </div>    
        </div>                
      <% elsif !@user.approved_bank.nil? %>
        <div class="panel panel-default">
          <div class="panel-heading pl20 pr20 text-center">
            <h3 class="panel-title">Aprovado pelo banco!</h3>
          </div>    
        </div>      
      <% end %>
    <% end %>  
  <% end %>    

  <div class="button-group">  
    <%= link_to t('.back'), admin_users_path, class: 'btn btn-lg btn-default pull-left' %>
    <%= link_to 'Resetar conta', reset_account_admin_user_pt_br_path(@user), method: :post, class: 'btn btn-lg btn-warning', data: { confirm: t('.confirmation') } %>
    <%= link_to t('.delete'), admin_user_path(@user), method: :delete, class: 'btn btn-lg btn-danger', data: { confirm: t('.confirmation') } %>        
  </div>
</div>
