<div class="page-header">
  <div class="container">
    <div class="row row-same-height">
      <h1 class="col-sm-12 col-xs-height"><%= t('.title') %></h1>
    </div>
    <div class="row row-same-height">
      <small class="col-sm-12 col-xs-height">
        <%= t('steps.description', current_step: 5) %>
      </small>
    </div>
  </div>
</div>

<div class="container">
  <div class="panel panel-default pt25">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <%= render "#{current_user.status}_message" %>
        </div>
      </div>
    </div>
  </div>
</div>
