<div class="page-header">
  <div class="container text-center">    
    <% unless current_user.admin? %>
      <%= render 'layouts/shared/wizard' %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row row-same-height">    
    <h1 class="col-sm-12 col-xs-height">
      <%= t('.title') %>
    </h1>
  </div>
  <%= form_for @user, url: current_user.admin? ? admin_user_analyze_path(@user) : analyze_path, method: :patch, html: { multipart: true } do |f| %>
    <div class="panel panel-default p15">
      <div class="panel-body">
        <% if flash[:alert] %>
          <div class="alert alert-danger"><%= flash[:alert] %></div>
        <% end %>        
        
        <% received = current_user.received.blank? ? nil : current_user.received.strftime("%d/%m/%Y") %>
        <% analyze = current_user.analyze.blank? ? nil : current_user.analyze.strftime("%d/%m/%Y") %>
        <% approved = current_user.approved.blank? ? nil : current_user.approved.strftime("%d/%m/%Y") %>
        <% disapproved = current_user.disapproved.blank? ? nil : current_user.disapproved.strftime("%d/%m/%Y") %>
        <% contact = current_user.contact.blank? ? nil : current_user.contact.strftime("%d/%m/%Y") %>        

        <fieldset>
          <ul class="timeline" id="timeline">
            <li class="li <%= !received.nil? ? 'complete' : '' %>">
              <div class="timestamp">
                <span class="author">Documentos recebidos</span>            
              </div>
              <div class="status">
                <h6> <%= received %> &nbsp;</h6>
              </div>
            </li>
            <li class="li <%= !analyze.nil? ? 'complete' : '' %>">
              <div class="timestamp">
                <span class="author">Documentos sob-análise</span>                
              </div>
              <div class="status">
                <h6> <%= analyze %> &nbsp;</h6>
              </div>
            </li>
            <li class="li <%= !approved.nil? ? 'complete' : '' %> <%= !disapproved.nil? ? 'warning' : '' %>">
              <div class="timestamp">
                <span class="author">Documentos aprovados(ou reprovados)</span>                
              </div>
              <div class="status">
                <h6> <%= approved %> &nbsp;</h6>
                <h6> <%= disapproved %> &nbsp;</h6>
              </div>
            </li>
            <li class="li <%= !contact.nil? ? 'complete' : '' %>">
              <div class="timestamp more-padding">
                <span class="author">Elaboração contrato</span>
                <span class="date"><span>
              </div>
              <div class="status">              
                <h6> <%= contact %> &nbsp;</h6>
              </div>
            </li>            
          </ul>                
        </fieldset>        
      </div>
    </div>

    <div class="button-group">
      <% if current_user.admin? %>
        <%= link_to t('.cancel'), admin_user_path(@document.user), class: 'btn btn-lg btn-default' %>
      <% end %>        
      <% if current_user.current_step != "finished" %>                        
        <%= link_to t('.back'), edit_document_path, class: 'btn pull-left btn-lg btn-default' %>
        <% if !contact.nil? %>        
          <%= link_to t('.next'), edit_contract_path, class: 'btn pull-right btn-lg btn-success' %>        
        <% end %>          
      <% end %>    
    </div>
  <% end %>
</div>