<!DOCTYPE html>
<%= html_tag lang: 'en' do %>
  <head>
    <meta charset="utf-8">
    <title><%= [@title, app_name].compact.join(' - ') %></title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Droid+Sans:400,700' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'shared', media: 'all' %>
    <%= stylesheet_link_tag 'wizard', media: 'all' %>
    <%= stylesheet_link_tag 'shop', media: 'all' %>

    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js', async: Rails.env.production? %>
    <%= javascript_include_tag 'application', async: Rails.env.production? %>    

    <%= render 'layouts/shared/sentry' if Rails.env.production? %>
    <%= render 'layouts/shared/google_analytics' if Rails.env.production? %>
  </head>

  <body class="<%= yield (:body_class) %>">
    <%= render 'layouts/shared/navbar' %>

    <div class="content">
      <%= yield %>
    </div>

    <%= render 'layouts/shared/footer' %>
  </body>
<% end %>
