<!DOCTYPE html>
<%= html_tag lang: 'en' do %>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', media: 'all' %>
    <%= stylesheet_link_tag 'home', media: 'all' %>
    <%= stylesheet_link_tag 'shared', media: 'all' %>
  </head>
  <body class="<%= body_class %>" data-scroll-animation="true">  
    <nav class="navbar" style="z-index: 101 !important;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".js-navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <% if is_py? %>          
            <% if current_page?(controller: 'landing_page', action: 'home') %>
              <%= link_to(tag("img", { src: image_url("logo_new-py.png"), height: "60px" }), root_path, class: 'navbar-brand', title: 'Hupi - Imóveis bonitos e baratos') %>
            <% elsif %>
              <%= link_to(tag("img", { src: image_url("logo_new2-py.png"), height: "60px" }), root_path, class: 'navbar-brand', title: 'Hupi - Imóveis bonitos e baratos') %>
            <% end %>
          <% else %> 
          <% if current_page?(controller: 'landing_page', action: 'home') %>
              <%= link_to(tag("img", { src: image_url("logo_new.png"), height: "60px" }), root_path, class: 'navbar-brand', title: 'Hupi - Imóveis bonitos e baratos') %>
            <% elsif %>
              <%= link_to(tag("img", { src: image_url("logo_new2.png"), height: "60px" }), root_path, class: 'navbar-brand', title: 'Hupi - Imóveis bonitos e baratos') %>
            <% end %> 
          <% end %>           
        </div>

        <div class="js-navbar-collapse navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">            
            <li <%= 'class=active' if current_page?(controller: 'landing_page', action: 'differential') %>>
              <%= link_to(t('landing_page.navbar.differential'), t('routes.nossos-diferenciais')) %>
            </li>            
            <% unless is_py? %>      
              <li <%= 'class=active' if current_page?(controller: 'landing_page', action: 'sustainability') %>>
                <%= link_to(t('landing_page.navbar.sustainability'), t('routes.sustentabilidade')) %>
              </li>            
              <li <%= 'class=active' if current_page?(controller: 'landing_page', action: 'simulation') %>>
                <%= link_to(t('landing_page.navbar.simulation'), t('routes.simulacao')) %>
              </li>            
              <li <%= 'class=active' if current_page?(controller: 'landing_page', action: 'future_releases') %>>
                <%= link_to(t('landing_page.navbar.future_releases'), t('routes.futuros-lancamentos')) %>
              </li>                  
              <li><%= link_to(t('landing_page.navbar.log_in'), new_user_session_path, class: 'login-button btn btn-warning') %></li>
            <% else %>
              <li <%= 'class=active' if current_page?(controller: 'landing_page', action: 'simulation') %>>
                <%= link_to(t('landing_page.navbar.simulation'), t('routes.simulacao')) %>
              </li>
              <li <%= 'class=active' if current_page?(controller: 'landing_page', action: 'future_releases') %>>
                <%= link_to(t('landing_page.navbar.future_releases'), t('routes.futuros-lancamentos')) %>
              </li>            
              <li>
                <li><%= link_to(t('landing_page.navbar.log_in'), 'javascript:;', class: 'login-button btn btn-warning') %></li>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>
      
    <%= javascript_include_tag 'home', async: Rails.env.production?, defer: Rails.env.production? %>

    <%= javascript_include_tag I18n.locale == :'py' ? 'education-py' : 'education', async: Rails.env.production?, defer: Rails.env.production? %>    
    <script async defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyD_lV5-OA1HB-lfmms0pEkzAOGR8hBOhnY&libraries=places&callback=initMap"></script>

    <%= render 'layouts/shared/sentry' if Rails.env.production? %>
    <%= render 'layouts/shared/google_analytics' if Rails.env.production? %>
    <%= render 'layouts/shared/facebook_pixel'  %>
  </body>
<% end %>
