<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body bgcolor="#f4f4f4">
    <table style="width:600px;height:100px;margin:0 auto">
      <tbody>
        <tr>
          <td style="padding-top:10px; margin-bottom: 0px;">            
            <%= image_tag 'logo_new2.png', alt: "Logo Landing", border: "0", style: 'width: 200px; margin-left: 194px' %>            
          </td>
        </tr>
      </tbody>
    </table>
    <table style="min-width:600px;font-family:Arial,Geneva,sans-serif;background-color:#62DC79;border-radius:5px 5px 0 0;margin:0 auto">
      <tbody>
        <tr>
          <td style="height:5px"></td>
        </tr>
      </tbody>
    </table>
    <%= yield %>
    <table style="width:600px;border:1px solid #e5e5e5;font-family:Arial,Geneva,sans-serif;font-size:10pt;border-bottom:0;border-top:0;background-color:#e5e5e5;color:#535353;margin:0 auto">
      <tbody>
        <tr>
          <td style="text-align:center;padding:30px 0">
            <%= image_tag 'mailer_question_icon.png', alt: "Dúvida", style: "margin-right:15px;vertical-align:top" %>
            <span>Está com alguma <strong>dúvida</strong>? Entre em contato!</span>
          </td>
        </tr>
      </tbody>
    </table>    
  </body>
</html>
