<!DOCTYPE html>
<%= html_tag lang: 'en' do %>
  <head>
    <meta charset="utf-8">
    <title><%= app_name %></title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Droid+Sans:400,700' %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Lato:300,400,700,900' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js', async: Rails.env.production? %>
    <%= javascript_include_tag 'application', async: Rails.env.production? %>

    <%= render 'layouts/shared/sentry' if Rails.env.production? %>
    <%= render 'layouts/shared/google_analytics' if Rails.env.production? %>
  </head>
  <body class="users">
    <div class="content">
      <%= yield %>
    </div>

    <%= render 'layouts/shared/footer_users' %>
  </body>
<% end %>
